{{ define "main" }}
<div class="rvt-container rvt-container--junior rvt-container--center rvtd-article-container">
  <div class="rvt-grid">
    <div class="rvt-grid__item-8-md-up">
      <div class="rvtd-typeset">
        <span class="rvtd-pre-header rvt-m-bottom-xxs rvt-display-block rvt-text-uppercase">Add-ons</span>
        <h1 class="rvt-text-regular">{{ .Title | markdownify }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="rvt-container rvt-container--center rvt-container--junior">
  <nav class="rvtd-navbar" aria-label="Add-ons tags">
    <ul class="rvtd-navbar__list rvt-plain-list rvt-display-flex">
      <li class="rvtd-navbar__list-item">
        <a aria-current="page" href="./">All</a>
      </li>
      {{ range $key, $value := .Site.Taxonomies.addOnTags }}
      <li class="rvtd-navbar__list-item">
        <a href="{{ " /addontags/ " | relLangURL }}{{ $key | urlize }}">{{ replace $key "-" " " | title }}</a>
      </li>
      {{ end }}
    </ul>
  </nav>
</div>

<div class="rvtd-subtle-wrapper">
  <div class="rvt-container rvt-container--center rvt-container--junior">
    <h2 class="rvt-ts-23 rvt-text-bold rvt-m-bottom-xl">Add-ons</h2>
    <ul class="rvt-grid rvt-plain-list">
      {{ range .Data.Pages }}
      <li class="rvt-grid__item-4-md-up rvt-m-bottom-lg">
        <a href="{{ .Permalink }}" class="rvtd-card__wrapper-link">
          <div class="rvtd-card">
            <figure class="rvtd-thumbnail rvtd-thumbnail--{{ range first 1 .Params.addOnTags }}{{ . | lower }}{{ end }}">
              <img src="../img/add-ons/{{ .Params.thumbnail }}" alt="">
            </figure>
            <h3 class="rvtd-card__title">{{ .Title }}</h3>
            <p class="rvtd-card__description">{{ .Description }}</p>
            <div class="rvtd-card__meta">
              {{ range .Params.addOnTags }}
              <span class="rvt-badge rvt-badge--secondary">{{ . }}</span>
              {{ end }}
            </div>
          </div>
        </a>
      </li>
      {{ end }}
    </ul>
  </div>
</div>

{{ end }}