{{ define "main" }}
<div class="rvt-container rvt-container--junior rvt-container--center rvtd-article-container rvtd-article-container--top-only">
  <div class="rvt-grid">
    <div class="rvt-grid__item-8-md-up">
      <div class="rvtd-typeset">
        <span class="rvtd-pre-header rvt-m-bottom-xxs rvt-text-uppercase">Add-ons</span>
        <h1 class="rvt-text-regular">{{ .Title | markdownify }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="rvt-m-top-xxl">
  <div class="rvtd-subtle-wrapper">
    <div class="rvt-container rvt-container--center rvt-container--junior">

      <div class="rvt-display-flex rvt-vertical-center rvt-m-bottom-xl">
        <h2 class="rvt-ts-23 rvt-text-bold">Add-ons</h2>
      </div>

      <ul class="rvt-grid rvt-plain-list">
        {{ range .Data.Pages }}
          <li class="rvt-grid__item-4-md-up rvt-m-bottom-lg">
            <a href="{{ .Permalink }}" class="rvtd-card-wrapper-link">
              <div class="rvt-box rvt-box--card rvtd-card">
                <figure class="rvt-box__image rvt-bg-crimson">
                  {{ if (isset .Params "thumbnail") }}
                    <img src="../img/add-ons/{{.Params.thumbnail}}" alt="">
                  {{ else }}
                    <img src="../img/add-ons/add-on-placeholder.jpg" alt="">
                  {{ end }}
                </figure>
                <div class="rvt-box__body">
                  <h3 class="rvt-ts-18 rvt-text-bold">{{ .Title }}</h3>
                  <p class="rvt-m-bottom-none">{{ .Description }}</p>
                </div>
              </div>
            </a>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>
{{ end }}