{{ define "main" }}
<div class="rvtd-wrap">
    <div class="rvtd-sidebar">
        {{ partial "search-form" . }}
        {{ partial "section-nav.html" .}}
    </div>
    <div class="rvtd-tube">
        <div class="rvtd-tube__inner rvtd-typeset">
            <h1>{{ .Title }}</h1>
            <p class="rvtd-lead">{{ .Description }}</p>
            {{ .Content }}
            <div class="rvtd-component-status m-top-lg">
                <table class="table-stripes">
                    <caption class="sr-only">Rivet component status</caption>
                    <thead>
                        <tr>
                            <th scope="col" width="180">Component</th>
                            <th scope="col">Description</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range where .Site.Sections "Section" "components" }}
                            {{ range .Sections }}
                                {{ range .Pages }}
                                    {{ if not .Params.excludeFromStatus }}
                                    <tr>
                                        <th scope="row"><a href="{{ .Permalink }}">{{ .Title }}</a></th>
                                        <td>{{ .Description }}</td>
                                        <td><span class="rvt-badge rvt-badge--{{ lower .Params.status }}">{{ .Params.status }}</span></td>
                                    </tr>
                                    {{ end }}
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </tbody>
                </table>
                </ul>
            </div>
        </div>
    </div>
</div>
{{ end }}
