{{ define "main" }}
<div class="rvt-container rvt-container--junior rvt-container--center rvtd-article-container rvtd-article-container--top-only">
  <div class="rvt-grid">
    <div class="rvt-grid__item-8-md-up">
      <div class="rvtd-typeset">
        <h1>{{ .Title | markdownify }}</h1>
        <p class="rvtd-lead rvtd-lead--no-border">{{ .Description }}</p>
      </div>
    </div>
  </div>
</div>

<div class="rvt-container rvt-container--junior rvt-container--center rvt-m-top-lg">
  <div class="rvt-grid">
    <div class="rvt-grid__item-8-md-up">
      {{ if gt (len .Pages) 0 }}
      <ul class="rvt-plain-list">
        {{ range .Pages }}
        <li>
          <time class="rvt-ts-14 rvt-text-uppercase rvt-display-block rvt-m-bottom-sm">{{ .Date.Format "January 2, 2006" }}</time>
          <h2 class="rvt-ts-23">
            <a href="{{ .URL }}" class="rvt-link-bold">{{ .Title }}</a>
          </h2>
          <p>{{ .Description }}</p>
        </li>
        {{ end }}
      </ul>
      {{ else }}
        <p class="rvt-ts-23 rvt-text-bold">{{ .Params.emptyState.heading }}</p>
        <p>{{ .Params.emptyState.text | safeHTML }}</p>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}