{{ define "main" }}
<div class="rvt-container rvt-container--junior rvt-container--center rvtd-article-container ">
  <div class="rvt-grid">
    <div class="rvt-grid__item-8-md-up">
      <div class="rvtd-typeset rvt-p-right-xxl-md-up">
        <span class="rvtd-pre-header rvt-m-bottom-xxs rvt-text-uppercase">Jobs</span></span>
        <h1>{{ .Title | markdownify }}</h1>
        <p class="rvtd-lead">{{ .Description }}</p>

        {{ .Content }}
      </div>
    </div>
    <div class="rvt-grid__item-4-md-up">
      <div class="rvt-p-left-lg-md-up rvt-m-top-sm">
        <h2 class="rvt-ts-18 rvt-text-bold">How to apply</h2>
        <p>If you're interested in this position, please follow the link below to apply.</p>
        <p>If you have any questions please feel free to email <a href="mailto:rivet@iu.edu">rivet@iu.edu</a>.</p>
        <a href="{{ .Params.applyLink }}" class="rvt-button rvt-m-top-sm">Apply for this position</a>
      </div>
    </div>
  </div>
</div>

{{ end }}