/**
 * Shame
 */

.tippy-tooltip [x-circle] {
    border-radius: 4px !important;
}

/**
 * NOTE: These all override Rivet itselft
 */

.rvt-header--no-border {
    border-bottom: none;
}

/**
 * :( I'm stuck in a z-index war of my own making!!!
 */
.rvt-drawer {
    z-index: 3;
}

.rvt-header__main-nav {
    margin-right: $lg;

    ul li.is-current {
        box-shadow: 0 2px 0 $color-text;
    }
}

@media screen and (min-height: 580px) {
    .rvt-footer--sticky {
        position: absolute;
        bottom: 0;
        left: 0;
        margin-top: 80px;
    }
}


a.button--secondary {
    color: $color-action;

    &:hover {
        text-decoration: none;
    }
}

a.button--reverse-secondary {
    border-color: $color-background;
    color: $color-background;

    &:hover {
        border-color: $color-background;
        background-color: $color-background;
    }
}


/**
 * These styles are for grid examples in the docs.
 */
[class^="rvt-grid__item"] span {
    display: block;
    background-color: #006298;
    color: white;
    padding: .5rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

/**
 * This is for demo purposes only
 */

.rvtd-space-example-key {
    font-size: 0;
}

.rvtd-space-example-key li {
    font-size: .875rem;
    display: inline-block;
    padding: .25rem .5rem;
    color: #ffffff;
}

.rvtd-space-example-key li:first-child {
    background-color: #006298;
}

.rvtd-space-example-key li:last-child {
    background-color: #c9d7eb;
    color: #006298;
}


.rvtd-space-example {
    background-color: #c9d7eb;
}

.rvtd-space-example-inner {
    background-color: #006298;
    color: #ffffff;
    text-align: center;
}

.rvtd-article-nav {
    display: none;
}

@include mq(bp(xl)) {
    .rvtd-article-nav {
        display: block;
        position: absolute;
        top: $xxl*2;
        right: 0;
        width: 280px;
        padding: 0 $md;
        border-left: 1px solid #eeeeee;

        p {
            margin-top: 0;
            font-weight: 700;
            font-size: $ts-18;
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        ul li a {
            font-size: $ts-14;
            line-height: 1.5;
            margin-bottom: $xs;
            display: inline-block;
        }
    }
}


.rvtd-principles {
    background-color: #f7f7f7;
    padding: $xxl 0;
    border-top: 1px solid $color-black--100;
    border-bottom: 1px solid $color-black--100;
}

@include mq(bp(md)) {
    .rvtd-principles {
        padding: $xxl*1.5 0;
    }
}

.rvtd-home-page-marketing-list {
    list-style: none;
    padding-left: $xxl;

    li {
        line-height: 1.5;
        position: relative;

        &:before {
            content: "1";
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: -$xxl;
            font-size: $ts-20;
            width: 35px;
            height: 35px;
            background-color: #22af7c;
            border-radius: 50%;
            color: $color-background;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        &:nth-of-type(2):before {
            content: "2";
        }

        &:nth-of-type(3):before {
            content: "3";
        }
    }
}

@include mq(bp(md)) {
    .rvtd-home-page-marketing-list {
        li {
            margin-bottom: $xxl;
        }

        li:before {
            font-size: $ts-26;
            width: 45px;
            height: 45px;
            top: -$xxs;
        }
    }
}
