/**
 * Shame
 */

/**
 * Set a global line-height that is shorted than the default 1.5 set higher
 * up on the body. 1.5 is too tall for headline text.
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

/**
 * Tippy is the library we are using for toolip/popups on the copy buttons
 * for code examples in the component docs.
 */
.tippy-tooltip [x-circle] {
    border-radius: 4px !important;
}

/**
 * TODO: Should we replace these with the built-in Rivet visibility
 * Utilities found here? - /components/utilities/visibility/
 */
.hide-on-large {
    display: block;
}

@media screen and (min-width: 900px) {
    .hide-on-large {
        display: none;
    }
}

.hide-on-small {
    display: none;
}

@media screen and (min-width: 800px) {
    .hide-on-small {
        display: block;
    }
}

/**
 * NOTE: These all override Rivet itself
 */

 code {
     font-size: 1.2rem;
 }

input[type="search"] {
    box-sizing: border-box;
}

.rvt-header--no-border {
    border-bottom: none;
}

.rvt-header--no-border .rvt-drawer {
    top: 70px;
}

/**
 * :( I'm stuck in a z-index war of my own making!!!
 */
.rvt-drawer {
    z-index: 3;
}

.rvt-header__main-nav {
    margin-right: $md;

    ul li.is-current {
        box-shadow: 0 2px 0 $color-text;
    }
}

a.button--reverse {
    background-color: $color-background;
    color: $color-action;
    border-color: $color-background;
}

a.rvt-button {
    color: $color-background;

    &:hover {
        text-decoration: none;
    }
}

.rvt-button--small {
    font-size: 1rem;
}

a.button--reverse-secondary {
    border-color: $color-background;
    color: $color-background;

    &:hover {
        border-color: $color-background;
        background-color: $color-background;
    }
}

.rvt-drawer-button {
    width: 71px;
}

/* End Rivet core overrides */

/**
 * Combo input NOTE: should add this back to Rivet source. I think there's
 * an issue open already.
 */

.rvt-combo-input {
    display: flex;
    flex-wrap: nowrap;

    input[type] {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
    }

    button {
        font-weight: normal;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

/**
 * These styles are for grid examples in the docs.
 */
[class^="rvt-grid__item"] > span {
    display: block;
    background-color: #006298;
    color: white;
    padding: .5rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.rvtd-space-example {
    background-color: #c9d7eb;
}

.rvtd-space-example-inner {
    background-color: #006298;
    color: #ffffff;
    text-align: center;
}


/**
 * Custom layout stuff
 */

/**
 * This is a generic wrapper that adds a decent amount of vertical
 * spacing to bands/sections of content.
 */
.rvtd-section {
    padding: $xxl 0;
}

@include mq(bp(md)) {
    .rvtd-section {
        padding: $xxl*2 0;
    }

    .rvtd-section--tall {
        padding: $xxl*3 0;
    }
}

/* Adds a subtle light background */
.rvtd-section--subtle {
    background: #f7f7f7;
}

/* Component status badges */
 .rvt-badge--prototype {
     @extend .rvt-badge--error;
 }

.rvt-badge--alpha {
    @extend .rvt-badge--warning;
    color: #fff;
}

.rvt-badge--beta {
    background-color: $color-alert-blue;
    color: #fff;
}

.rvt-badge--ready {
    @extend .rvt-badge--success;
}



/**
 * How to use examples
 */

.rvtd-htu-example {
    padding-top: $xxl;
    padding-bottom: $xxl;
    position: relative;
    overflow: hidden;
}

.rvtd-htu-example--mega-top-padding {
    padding-top: $xxl;
}

.rvtd-htu-example--mega-bottom-padding {
    padding-bottom: $xxl;
}

 @include mq(bp(md)) {
    .rvtd-htu-example {
        padding-top: $xxl * 2;
        padding-bottom: $xxl * 2;
    }

    .rvtd-htu-example--mega-top-padding {
        padding-top: $xxl * 4;
    }

    .rvtd-htu-example--mega-bottom-padding {
        padding-bottom: $xxl * 4;
    }

    .rvtd-htu-example--shorter {
        padding: $xxl * 1.5;
    }
 }

.rvtd-htu-example--subtle {
    background-color: #f7f7f7;
}

.rvtd-htu-example--border-bottom {
    border-bottom: 1px solid #eee;
}

.rvtd-htu-example-info {
    p {
        line-height: 1.65;
    }
}

.rvtd-htu-example__img-one {
    max-width: 100px;
    margin-top: $md;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    bottom: 0;
    right: 10%;

    img {
        display: block;
        width: 100%;
    }
}

@include mq(bp(md)) {
    .rvtd-htu-example__img-one {
        margin: 0;
        left: 10%;
        right: auto;
        max-width: 350px;
    }
}

@include mq(bp(lg)) {
    .rvtd-htu-example__img-one {
        left: 15%;
    }
}

.rvtd-htu-example__img-two {
    max-width: 150px;
    margin-top: $md;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    right: 0;
    bottom: 20px;
}


@include mq(bp(md)) {
    .rvtd-htu-example__img-two {
        bottom: 190px;
        max-width: 500px;
        margin: 0;

        img {
            display: block;
            max-width: auto;
            width: 100%;
        }
    }
}


@include mq(1100px) {
    .rvtd-htu-example__img-two {
        bottom: 150px;
        max-width: 650px;
    }
}

@include mq(1500px) {
    .rvtd-htu-example__img-two {
        bottom: 50px;
        max-width: 700px;
        padding-bottom: $xl;
    }
}

.rvtd-homepage-flare {
    @extend .rvtd-htu-example;
}

.rvtd-homepage-flare--subtle {
    background: #f7f7f7;
}

.rvtd-homepage-flare__figure {
    border-radius: 4px;
    box-shadow: 0 3px 2px 0 rgba(231,231,231,0.50), 0 0 50px 0 rgba(0,0,0,0.05);
    overflow: hidden;

    img {
        display: block;
        width: 100%;
    }
}

.rvtd-homepage-flare__img-one {
    @extend .rvtd-htu-example__img-one;
}

.rvtd-check-list {
    list-style: none;

    li {
        line-height: 1.6;
        margin-bottom: $md;
        position: relative;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 2px;
            left: -$lg;
            width: 20px;
            height: 20px;
            background-color: #22AF7C;
            background-image: url('../img/checkbox-input-check.svg');
            background-repeat: no-repeat;
            background-size: 12px 12px;
            background-position: 50% 50%;
            border-radius: 50%;
        }
    }
}

.rvtd-about-issues {
    display: none;
}

@include mq(bp(md)) {
    .rvtd-about-issues {
        display: block;
        width: 500px;
        position: absolute;
        top: 6.5rem;
        right: 0;
    }
}

@include mq(bp(lg)) {
    .rvtd-about-issues {
        top: 5.5rem;
        width: 700px;
    }
}

/**
 * This is used on in the header to show and hide at
 * different screen sizes.
 */
.rvtd-subtitle {
    display: none;
}

@include mq(bp(md)) {
    .rvtd-subtitle {
        display: inline-block;
    }
}

/**
 * HACK: I'm not sure why this is happening, but had to add this rule to the
 * <span> wrapper we are using to hide on mobile.
 */
.rvt-header__title a:hover span {
    text-decoration: underline;
}


/**
 *  For the new "Learn" section of the site.
 */
.rvtd-article-container {
    margin-top: $xl;
    margin-bottom: $xxl;
}

@include mq(bp(md)) {
    .rvtd-article-container {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }
}


.rvtd-article-main {
    margin-top: $xl;

    p {
        line-height: 1.6;
    }

    figcaption {
        color: #676767;
        font-style: italic;
        font-size: $ts-14;
        margin-top: 1rem;
    }
}

.rvtd-small-list {
    p {
        color: #676767;
        margin-bottom: 0;
    }

    li {
        line-height: 1.5;
        padding: 1rem 0;
        border-top: 1px solid #ddd;

        a {
            color: $color-action;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}


.rvt-flat-line-height {
    line-height: 1;
}

/**
 * Highlight.js overrides
 */
.hljs {
    background: #fafafa;
}

.hljs-meta {
    color: $color-black--700;
}

.hljs-comment {
    color: $color-black--700;
}

.hljs-tag .hljs-attr {
    color: #2424b3;
}

/* TODO: Back this custom button styling for close functionality into Rivet.
 * We should be using buttons for toggling things not links.
 */
.rvt-drawer__bottom-close {
    background-color: transparent;
    border: none;
    color: $color-link;
    padding: 0;

    &:focus {
        display: block;
        padding: .35rem .65rem;
    }
}

.dropdown {
    &__menu {
        .is-current {
            border-left: 4px solid $color-action;
            font-weight: 700;
            /**
             * Hack to overlap the subtle gray border on dropdowns.
             */
            margin-left: -1px;
        }
    }
}



.rvt-supplemental-menu {
    display: flex;
    margin-right: $sm * 1.25;
}

/**
 * Notifications
 */

.rvt-notifications {
    position: relative;

    &__toggle {
        background-color: $color-black--100;
        border-color: $color-black--200;
        border-radius: 999rem;
        color: $color-text;
        height: $lg;
        padding: 0;
        width: $lg;
        position: relative;

        &:focus {
            box-shadow: 0 0 0 2px $color-background,
                        0 0 0 4px $color-action;
        }

        &:hover {
            background-color: $color-action;
            color: $color-background;
            border-color: $color-action;
        }

        &:active {
            background-color: $color-action;
            border-color: $color-background;
            color: $color-background;
        }

        &--has-unread:active {
            background-color: $color-alert-green;
            color: $color-background;
            border-color: $color-alert-green;
        }

        &--has-unread {
            background-color: transparent;
            border-color: $color-alert-green;
            color: $color-alert-green;

            &:hover {
                background-color: $color-alert-green;
                color: $color-background;
                border-color: $color-alert-green;
            }

            &:focus {
                box-shadow: 0 0 0 2px $color-background,
                            0 0 0 4px $color-alert-green;
            }
        }
    }

    @include mq(bp(md)) {
        &__toggle {
            margin-right: $lg;
        }
    }

    &__toggle-count {
        position: absolute;
        top: -.5rem;
        right: -.75rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: .625rem;
        background-color: $color-alert-green;
        padding: .25rem;
        color: $color-background;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 999rem;
        border: 2px solid $color-background;
    }

    &__menu {
        background-color: $color-background;
        position: absolute;
        right: -1.5rem;
        top: 3.2rem;
        border: 1px solid $color-black--100;
        border-radius: $xxs;
        width: 400px;
        box-shadow: 0 1rem 5rem -2rem rgba(#000000, 0.5);
        padding: $xs;
        z-index: 1000;

        &[aria-hidden="true"] {
            display: none;
        }

        ol {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin-right: 0;
                margin-bottom: $xs;
                border-bottom: 1px solid $color-black--100;
                line-height: 1.5;
                position: relative;
                z-index: 1000;

                &:last-child {
                    border-bottom: none;
                }

                &.is-unread {
                    background-color: $color-background-subtle;
                    border-bottom: none;
                    border-left: $xs/2 solid $color-alert-green;
                }
            }

            li a {
                display: block;
                text-decoration: none;
                color: $color-text;

                &:hover {
                    background-color: #ddd;
                }

                &:focus {
                    box-shadow: 0 0 0 2px $color-action;
                }
            }
        }

        &:before {
            display: block;
            position: absolute;
            top: -.75rem;
            right: 3.6rem;
            content: " ";
            width: 1.5rem;
            height: 1.5rem;
            background-color: $color-background;
            border-left: 1px solid $color-black--100;
            border-top: 1px solid $color-black--100;
            transform: rotate(45deg);
            z-index: 999;
        }
    }

    &__actions {
        .rvt-button--secondary {
            color: $color-action;
        }

        &-mail {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;

            span {
                margin-left: $xs;
                /**
                 * Just a smidge of extra space to vertically center optically
                 */
                top: 1px;
                position: relative;
            }
        }
    }
}

.rvt-notification {
    padding: $sm $sm * 1.25 $sm;
    position: relative;

    &__time {
        font-size: $ts-12;
        font-weight: 700;
        color: $color-black--700;
        text-transform: uppercase;
        letter-spacing: .01rem;
        line-height: 1;
    }

    &__title {
        font-size: $ts-16;
        font-weight: 700;
        margin-top: $xs;
    }

    &__teaser {
        margin-top: $xs;
        margin-bottom: 0;
        font-size: $ts-14;
    }

    &__icon {
        position: absolute;
        top: 1.25rem;
        right: 1.25rem;
        color: $color-black--600;
    }
}