/**
 * Shame
 */

.tippy-tooltip [x-circle] {
    border-radius: 4px !important;
}

/**
 * :( I'm stuck in a z-index war of my own making!!!
 */
.rvt-drawer {
    z-index: 3;
}

.rvt-header__main-nav {
    margin-right: $lg;

    ul li.is-current {
        box-shadow: 0 3px 0 $color-action;
    }
}

a.button--secondary {
    color: $color-action;

    &:hover {
        text-decoration: none;
    }
}

/**
 * These styles are for grid examples in the docs.
 */
[class^="rvt-grid__item"] span {
    display: block;
    background-color: #006298;
    color: white;
    padding: .5rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

/**
 * This is for demo purposes only
 */

.rvtd-space-example-key {
    font-size: 0;
}

.rvtd-space-example-key li {
    font-size: .875rem;
    display: inline-block;
    padding: .25rem .5rem;
    color: #ffffff;
}

.rvtd-space-example-key li:first-child {
    background-color: #006298;
}

.rvtd-space-example-key li:last-child {
    background-color: #c9d7eb;
    color: #006298;
}


.rvtd-space-example {
    background-color: #c9d7eb;
}

.rvtd-space-example-inner {
    background-color: #006298;
    color: #ffffff;
    text-align: center;
}

.rvtd-article-nav {
    display: none;
}

@include mq(bp(xl)) {
    .rvtd-article-nav {
        display: block;
        position: absolute;
        top: $xxl*2;
        right: 0;
        width: 280px;
        padding: 0 $md;
        border-left: 1px solid #eeeeee;

        p {
            margin-top: 0;
            font-weight: 700;
            font-size: $ts-18;
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        ul li a {
            font-size: $ts-14;
            line-height: 1.5;
            margin-bottom: $xs;
            display: inline-block;
        }
    }
}