@import "variables";
@import "tools";
@import "../rivet/sass/rivet";

html {
    font-size: 100%;
}

@include mq(1180px) {
    html {
        font-size: 110%;
    }
}

html * {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    background-color: #ffffff;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color:#fafafa;
    border-bottom: 1px solid #ddd;
    height: $lg * 2;

    * {
        line-height: 1;
    }

    a {
        text-decoration: none;
    }

    h1 {
        margin: 0;
    }

    nav {
        margin-left: auto;
    }

    nav ul {
        display: flex;
        list-style: none;

        li {
            margin-right: 1rem;
        }

        li.is-active {
            box-shadow: 0 3px 0 $color-action;
        }
    }
}

.rvtd-wrap {
    display: flex;
    width: 100%;
}

.rvtd-sidebar {
    border-right: 1px solid #eee;
    background-color: #fafafa;
    width: 300px;
    padding: $lg;
    height: calc(100vh - 4rem);
    overflow-y: scroll;
}

.rvtd-tube {
    flex-basis: 800px;
    padding: $xl;
    padding-left: $xxl;
    height: calc(100vh - 4rem);
    overflow-y: scroll;
}

.hljs {
    padding: 1.5em;
    line-height: 1.6;
    border-radius: 4px;
}

.rvt-toc {
    list-style: none;
    padding: 0;

    .is-current {
        // font-weight: 700;
        &:before {
            content: "";
            padding-left: $xxs;
            border-left: 4px solid $color-midnight--300;
        }
    }

    li a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    li ul {
        list-style: none;
        padding: 0;
    }

    li span {
        display: block;
        margin-top: 1rem;
        font-weight: 700;
    }

}

.rvt-typeset {



    ul li {
        line-height: 1.5;
        margin-top: $sm;
        margin-bottom: $sm;
    }

    h1 {
        font-size: ts(46);
    }

    h2 {
        font-size: ts(32);
    }

    h3 {
        font-size: ts(29);
    }

    .rvt-lead {
        font-size: ts(23);
        color: $color-black--700;
        margin-top: $sm;
    }
}

.p-vertical-sm {
    padding-top: $sm;
    padding-bottom: $sm;
}

.p-vertical-md {
    padding-top: $md;
    padding-bottom: $md;
}

.p-vertical-lg {
    padding-top: $lg;
    padding-bottom: $lg;
}

.p-vertical-xl {
    padding-top: $xl;
    padding-bottom: $xl;
}

.p-vertical-xxl {
    padding-top: $xxl;
    padding-bottom: $xxl;
}