@import "variables";
@import "tools";
@import "../rivet/sass/rivet";

html {
    font-size: 100%;
}

html * {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    background-color: #ffffff;
}

.rvtd-intro {
    background-color: #f7f7f7;
    padding: 4rem 0 5rem 0;

    h1 {
        line-height: 1.1;
    }

    img {
        max-width: 100%;
    }
}

@include mq(bp(lg)) {
    .rvtd-intro {
        padding: 8rem 0 10rem 0;
    }
}

.rvtd-search {
    position: relative;
    flex-grow: 1;

    .rvt-combo-input {
      display: flex;
      flex-wrap: nowrap;

      input[type] {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
      }

      button {
        font-weight: normal;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    &__results {
        position: absolute;
        width: 100%;
        padding: $sm;
        border: 1px solid #eee;
        background-color: #fafafa;

        .rvtd-search__result {
            margin-bottom: $sm;
            padding-bottom: $sm;
            border-bottom: 1px solid #ddd;

            &-title {
                margin-bottom: $xs;
            }
            &-body {
                margin: 0;
                white-space: pre-wrap;
            }
        }
        .rvtd-search__result:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }
    }
}

.rvtd-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rvtd-sidebar {
    background-color: #fafafa;
    border-bottom: 1px solid #eee;
    padding: $lg;
}

.rvtd-tube {
    width: 100%;
    padding: $lg $xxl;

    &__inner {
        max-width: 800px;
    }
}

@include mq(bp(md)) {
    .rvtd-wrap {
        flex-direction: row;
    }

    .rvtd-sidebar {
        border-right: 1px solid #eee;
        border-bottom: none;
        min-width: 250px;
        flex-basis: 250px;
        height: calc(100vh - 71px);
        overflow-y: scroll;
    }

    .rvtd-tube {
        height: calc(100vh - 71px);
        overflow-y: scroll;
    }
}

.hljs {
    padding: 1.5em;
    line-height: 1.6;
    border-radius: 4px;
}

.rvtd-toc {
    list-style: none;
    padding: 0;

    li {
        line-height: 1.7;
    }

    > li span {
        display: block;
        font-size: ts(14);
        margin-top: $lg;
        margin-bottom: $xs;
    }

    > li:first-child span {
        margin-top: 0;
    }

    .is-current {
        &:before {
            content: "";
            margin-left: -$xxs;
            padding-left: $xxs;
            box-shadow: -4px 0 0 $color-action;
        }

        a {
            font-weight: 700;
        }
    }

    li a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    li ul {
        list-style: none;
        padding: 0;
    }

}

.rvtd-example {
    margin-top: $md;

    &__demo {
        border: 2px solid $color-black--100;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        padding: $sm;
    }

    &__code {
        pre {
            margin: 0;
        }

        border: 2px solid $color-black--100;
        border-top: none;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }
}

.rvt-typeset {
    ul li {
        line-height: 1.5;
        margin-top: $sm;
        margin-bottom: $sm;
    }

    h2, h3 {
        margin-top: $lg;
    }

    h1 {
        font-size: ts(41);
        line-height: 1.2;
        margin-bottom: $sm;
    }

    h2 {
        font-size: ts(29);
    }

    h3 {
        font-size: ts(23);
    }

    p,
    li {
        code {
            background-color: #f7f7f7;
            display: inline-block;
            padding: .05rem .15rem;
            border-radius: 3px;
            /**
             * NOTE: This is a magic number to help code snippets appear
             * the same size optically as inline text.
             */
            font-size: .95rem;
            /**
             * NOTE: This matches the Highlightjs theme that we are using for
             * syntax highlighting.
             */
            color: #d14;
        }
    }

    .rvtd-lead {
        font-size: ts(23);
        color: $color-black--700;
        line-height: 1.3;
        margin-top: $xxs;
        padding-bottom: $xl;
        border-bottom: 1px solid $color-black--200;
    }
}

.p-vertical-sm {
    padding-top: $sm;
    padding-bottom: $sm;
}

.p-vertical-md {
    padding-top: $md;
    padding-bottom: $md;
}

.p-vertical-lg {
    padding-top: $lg;
    padding-bottom: $lg;
}

.p-vertical-xl {
    padding-top: $xl;
    padding-bottom: $xl;
}

.p-vertical-xxl {
    padding-top: $xxl;
    padding-bottom: $xxl;
}


/**
 * Shame
 */

.rvt-header__main-nav {
    margin-right: $lg;

    ul li.is-current {
        box-shadow: 0 3px 0 $color-action;
    }
}
/**
 * These styles are for grid examples in the docs.
 */
[class^="rvt-grid__item"] span {
        display: block;
        background-color: #006298;
        color: white;
        padding: .5rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }