{{ define "main" }}
<div class="rvtd-article-container rvt-container rvt-container--center rvt-container--junior">
    <div class="rvt-grid rvt-m-top-xxl">
        <div class="rvt-grid__item-8-md-up">
            <div class="rvtd-typeset">
                <a href="../" class="rvtd-pre-header rvt-text-uppercase">
                    <span><span class="rvt-sr-only">Go back to the </span>Blog</span>
                </a>
                <h1 class="rvt-text-bold">{{ .Title }}</h1>
                <p class="rvtd-lead rvt-m-top-xl">{{ .Description }}</p>
                
                <div class="rvtd-article-main rvtd-typeset">
                    <div class="rvtd-article-outline">
                        {{ partial "toc.html" . }}
                    </div>
                    {{ .Content }}
                    
                    <nav class="rvt-p-top-md rvt-m-top-xxl rvt-border-top rvt-flex-md-up rvt-justify-space-between" aria-label="Article navigation">
                        {{ if .PrevInSection }}
                        <a class="rvtd-plain-link rvt-grow-1-md-up rvt-p-right-lg-md-up" href="{{ .PrevInSection.Permalink }}" >
                            <span>
                                <span class="rvt-display-block rvt-text-uppercase rvt-ts-14">Previous:</span>
                                <span class="rvt-text-bold">{{ .PrevInSection.Title }}</span>
                            </span>
                        </a>
                        {{ end }}
                        {{ if .NextInSection }}
                        <a class="rvt-display-block rvtd-plain-link rvt-m-top-sm rvt-m-top-none-md-up rvt-grow-1-md-up rvt-justify-content-end" href="{{ .NextInSection.Permalink }}">
                            <span>
                                <span class="rvt-display-block rvt-text-uppercase rvt-ts-14">Next:</span>
                                <span class="rvt-text-bold">{{ .NextInSection.Title}}</span>
                            </span>
                        </a>
                        {{ end }}
                    </nav>
                </div>
            </div>
        </div>
        <div class="rvt-grid__item-3-md-up rvt-grid__item--last">
            <div class="rvt-m-top-xl">
                {{ partial "article-sidebar" . }}
            </div>
        </div>
    </div>
</div>
{{ end }}