html {
    font-size: 100%;
}

html * {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    background-color: #ffffff;
}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}

code {
    background-color: #f7f7f7;
    display: inline-block;
    padding: .05rem .15rem;
    border-radius: 3px;
    /**
     * NOTE: This matches the Highlightjs theme that we are using for
     * syntax highlighting.
     */
    color: #d14;
}