@include mq($breakpoint-md) {
  .rvtd-card {
    height: 320px;
  }
}

.rvtd-card-wrapper-link {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease;
  display: block;

  &:hover {
    color: inherit;
    transform: translateY(-$xxs);
  }

  &:focus {
    outline: 2px solid $color-action;
    outline-offset: $xxs;
  }
}
