.rvtd-page-nav {
  background-color: $color-crimson;
  color: $color-background;
  padding-top: $md;
  padding-bottom: $md;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__icon {
    opacity: .5;
  }

  &__list-item {
    margin-top: 0;
    margin-left: $md;
  }

  &__list-item a {
    color: $color-background;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      box-shadow: none;
      outline: 2px dotted $color-background;
      outline-offset: 2px;
    }
  }
}