.rvtd-banner {
    background: #f7f7f7;
}

.rvtd-banner__inner {
    padding: $xl 0;
}

.rvtd-banner__message {
    margin-bottom: $lg;
}

@include mq(bp(md)) {
    .rvtd-banner__inner {
        padding: $lg 0;
        display: flex;
        align-items: center;
    }

    .rvtd-banner__message {
        font-size: $ts-18;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: $lg;
    }

    .rvtd-banner__icon {
        margin-right: $lg;
    }

    .rvtd-banner__action {
        margin-left: auto;
    }
}
