main {
    position: relative;
}
.rvtd-support {
    position: fixed;
    bottom: $lg;
    right: $md;

    &__toggle {
        border-radius: 999rem;
        box-shadow: 0 $xxs $sm rgba(#333333, .3);
        height: 3.5rem;
        justify-content: center;
        padding: 0;
        width: 3.5rem;

    }
}