.rvtd-typeset > {
    ul li,
    ol li {
        line-height: 1.5;
        margin-top: $sm;
        margin-bottom: $sm;
    }

    h1 {
        font-size: ts(41);
        line-height: 1;
        margin-bottom: $sm;
    }

    h2, h3 {
        margin-top: $xl;
    }

    h2 {
        font-size: ts(29);
    }

    h3 {
        font-size: ts(23);
    }

    p,
    ul li,
    ol li,
    td {
        code {
            background-color: #f7f7f7;
            display: inline-block;
            padding: .05rem .15rem;
            border-radius: 3px;
            /**
             * NOTE: This matches the Highlightjs theme that we are using for
             * syntax highlighting.
             */
            color: #d14;
        }
    }

    blockquote {
        color: $color-black--700;
        border-left: 2px solid $color-black--200;
        padding-left: $sm;
        margin-top: $lg;
        margin-bottom: $lg;
        font-size: $ts-18;
        font-style: italic;
    }

    .rvtd-lead {
        font-size: ts(23);
        color: $color-black--700;
        line-height: 1.4;
        margin-top: $xxs;
        padding-bottom: $xl;
        border-bottom: 1px solid $color-black--200;
    }
}