.rvtd-intro {
    background-color: #f7f7f7;
    padding: 4rem 0 5rem 0;

    h1 {
        line-height: 1.1;
    }

    img {
        max-width: 100%;
    }
}

@include mq(bp(lg)) {
    .rvtd-intro {
        padding: 8rem 0 10rem 0;
    }
}