.rvtd-search {
    position: relative;
    background-color: $color-black--050;
    border-bottom: 1px solid #eaeaea;

    input[type="search"] {
        min-width: 0;
    }

    /**
     * HACK: This is to get around the default segmented button styles.
     * Need to do this here because were hiding one of the buttons on
     * larger screens.
     */
    &__submit {
        border-top-right-radius: .25rem !important;
        border-bottom-right-radius: .25rem !important;
    }

    &__results {
        position: absolute;
        top: 4.5rem;
        left: 1.5rem;
        width: calc(100% - 3rem);
        z-index: map-get($z-index, z-300);
        border: 1px solid #eee;
        background-color: $color-background;
        border-radius: 4px;
        box-shadow: 0 1rem 5rem -2rem rgba(#000000, 0.5);

        .rvtd-search__results-header {
            @extend .modal__header;
            display: flex;
            padding: $sm;

            .rvtd-search__cancel {
                margin-left: auto;
                color: $color-text;
                line-height: 1;
                position: absolute;
                right: $sm;
                top: $sm;
                padding-left: $xxs;
                padding-right: $xxs;
            }
        }

        .rvtd-search__result {
            margin: 0 $sm $sm;
            padding-bottom: $sm;
            border-bottom: 1px solid $color-black--200;

            &-title {
                margin-bottom: $xxs;
                font-size: $ts-16;
            }

            &-body {
                margin: 0;
                white-space: pre-wrap;
                font-size: $ts-14;
                line-height: 1.3;
                color: $color-black--600;
            }
        }
        .rvtd-search__result:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }

        .rvtd-search__results-found {
            font-size: $ts-14;
            margin: $sm;
        }

        .rvtd-search__results-footer {
            @extend .modal__controls;
            padding: $sm;

            p {
                font-size: $ts-14;
                margin: 0;
            }
        }
    }
}

@include mq(bp(md)) {
    .rvtd-search__form {
        width: auto;
        margin-left: 0;

        input {
            flex-grow: 1;
        }
    }

    .rvtd-search__results,
    .rvtd-search__no-results {
        width: 400px;
    }
}
