.rvtd-typeset > {
    p {
        margin-top: $md;
        margin-bottom: $md;
    }



    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
    }

    h1 {
        font-size: $ts-36;
        line-height: 1.2;
        margin-bottom: $sm;
    }

    h2, h3 {
        margin-top: $xl;
    }

    h2 {
        font-size: ts(26);
    }

    h3 {
        font-size: ts(20);
    }

    blockquote {
        color: $color-black--700;
        border-left: 2px solid $color-black--200;
        padding-left: $sm;
        margin-top: $lg;
        margin-bottom: $lg;
        font-size: $ts-18;
        font-style: italic;
    }

    .rvtd-lead {
        font-size: ts(23);
        color: $color-black--700;
        line-height: 1.4;
        margin-top: $xxs;
        padding-bottom: $xl;
        border-bottom: 1px solid $color-black--200;

        &--no-border {
            border-bottom: none;
        }
    }
}

.rvtd-typeset--flat-top  h2:first-of-type {
    margin-top: 0;
}