main {
    position: relative;
}


.rvtd-support {
    position: fixed;
    bottom: $md;
    right: $md;
    z-index: 1001;

    &__toggle {
        border-radius: 999rem;
        box-shadow: 0 $xxs $sm rgba(#333333, .3);
        height: 3.5rem;
        justify-content: center;
        padding: 0;
        width: 3.5rem;
    }

    &__menu {
        top: -16.5rem;
        right: $xxs;
        width: 20rem;
        position: absolute;

        a {
            display: inline;
            padding: 0;
            text-decoration: underline;
            color: $color-blue;
        }

        a:hover {
            background-color: transparent;
            color: $color-black;
        }
    }

    &__menu[aria-hidden="true"] {
        display: none;
    }
}

.rvtd-support--bottom {
    bottom: $xxl;
}