.rvtd-billboard {
    position: relative;
    padding-top: 4rem;

    &:after {
        background-color: $color-crimson;
        content: "";
        display: block;
        width: 100%;
        height: 200px;
        position: absolute;
        bottom: -2rem;
        left: 0;
        z-index: - map-get($z-index, z-1000);
    }

    &__content {
        position: relative;
        max-width: 28rem;
    }

    &__title {
        color: $color-crimson;
        font-size: 4rem;
        font-weight: 700;
        line-height: .85;
    }

    &__teaser {
        margin-top: $xl;
        -webkit-font-smoothing: antialiased;
        color: $color-background;
    }

    &__cta {
        margin-top: $sm;
        background-color: $color-background;
        color: $color-crimson;
        border-color: $color-background;

        &:hover {
            background-color: $color-crimson;
            color: $color-background;
            border-color: $color-background;
        }
    }

    &__image {
        display: none;
    }
}

@include mq(400px) {
    .rvtd-billboard {
        &:after {
            height: 190px;
            bottom: -3rem;
        }
    }
}

@include mq(bp(md)) {
    .rvtd-billboard {
        &__image {
            display: block;
            width: 350px;
            position: absolute;
            right: 0;
            top: 4.45rem;

            img {
                display: block;
                width: 100%;
            }
        }
    }
}

@include mq(1050px) {
    .rvtd-billboard {
        padding-top: 9rem;

        &:after {
            height: 228px;
            bottom: -4rem;
        }

        &__title {
            font-size: (100rem/16rem) + rem;
            font-weight: 700;
            line-height: .85;
        }

        &__teaser {
            font-size: $ts-18;
            margin-top: $xl;
        }

        &__image {
            width: 600px;
            top: -20px;

            img {
                display: block;
                width: 100%;
            }
        }
    }
}

@include mq(1480px) {
    .rvtd-billboard {
        margin-left: 30px;
        margin-right: 30px;
    }
}