.rvtd-hero {
  padding-top: 8rem;
  padding-bottom: 0;
  position: relative;

  &__content {
    padding-top: $md;
  }

  &__image {
    img {
      display: block;
    }
  }

  &--short {
    padding-top: 6rem;
  }

  &--subtle-gradient {
    background: linear-gradient(180deg, #f7f7f7 0%, #FFFFFF 63.7%);
  }
}

@include mq(bp(md)) {
  .rvtd-hero {
    &__content {
      padding-right: $xxl;
    }
  }
}

