.rvtd-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@include mq(bp(md)) {
    .rvtd-wrap {
        flex-direction: row;
    }
}

.rvtd-nav {
    background-color: #fafafa;
    border-bottom: 1px solid #eee;
    padding: $md;

    &[aria-hidden="true"] {
        display: none;
    }
}

.rvtd-sidebar {
    position: relative;

    &__nav-toggle {
        position: absolute;
        z-index: 1;
        left: $md;
        top: $md;
        background-color: transparent;
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        padding: 0;
    }
}

@include mq(bp(md)) {
    .rvtd-sidebar {

        &__nav-toggle {
            display: none;
        }
    }

    .rvtd-nav {
        border-right: 1px solid #eee;
        border-bottom: none;
        overflow-y: scroll;
        position: relative;
        display: block;
        min-width: 296px;
        flex-basis: 296px;
        height: calc(100vh - 160px);

        &[aria-hidden="true"] {
            display: block;
        }
    }
}

.rvtd-tube {
    width: 100%;
    padding: $md;
}

@include mq(bp(md)) {
    .rvtd-tube {
        height: calc(100vh - 71px);
        overflow-y: scroll;
        padding: $lg $xxl;
    }
}

@include mq(bp(xxl)) {
    .rvtd-tube__inner {
        width: 70%;
    }
}