.rvtd-changelog {
    background-color: $dark-blue;
    color: white;
    padding: 5em 0 12rem 0;
    position: relative;

    &__list {
        border-left: 2px solid #067bbb;
        padding-left: 2em;
        position: relative;
    }

    &__version {
        font-size: 1.75em;
        font-weight: bold;
        line-height: 1;
        -webkit-font-smoothing: antialiased;

        &:before {
            content: " ";
            box-shadow: 0 0 0 .5rem $dark-blue;
            display: block;
            width: 1rem;
            height: 1rem;
            background: white;
            position: absolute;
            left: -29px;
            top: 0;
            border-radius: 100%;
        }
    }

    &__download {
        -webkit-font-smoothing: antialiased;
        margin-bottom: $md;
    }

    .rvt-grid:first-child &__version:before {
        width: 2rem;
        height: 2rem;
        left: -2.25rem;
        top: -.012rem;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICAgIDxwYXRoIGZpbGw9IiMwMDMxNGMiIGQ9Ik02LjcyLDEzbC0uNDgtLjM2LTMtM0ExLDEsMCwwLDEsNC43MSw4LjI5bDIuMTEsMi4xMiw0LjMzLTYuOTRhMSwxLDAsMCwxLDEuNywxLjA2TDcuNjQsMTIuODdaIi8+Cjwvc3ZnPgo=");
        background-repeat: no-repeat;
        background-size: 1.5rem 1.5rem;
        background-position: center;
    }

    &__date {
        color: $bright-blue;
        font-weight: bold;
        text-transform: uppercase;
        font-size: $ts-12;
        letter-spacing: .02rem;
        -webkit-font-smoothing: antialiased;
    }

    h1, &__section-title {
        color: $bright-blue;
        font-weight: bold;
        margin-bottom: 2.25em;
        -webkit-font-smoothing: antialiased;
    }

    &__section-title {
        font-size: 1.125em;
    }

    h2, h3, h4 {
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
    }

    &__overview {
        p {
            margin-bottom: 2em;
        }
    }

    &__details {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            margin-bottom: 1.5em;
            padding-left: 1em;
            text-indent: -1em;
            font-size: .9em;

            &::before {
                font-size: 1.5em;
                content: "• ";
                color: $bright-blue;
            }
        }
    }

    &__view-all-details a {
        font-weight: bold;
        padding-left: 1em;
        font-size: .9em;

        &:hover, &:active {
            color: $bright-blue;
        }
    }

    &__cta {
        position: absolute;
        left: -.1rem;
        border-bottom: 2px solid #067bbb;
        border-left: 2px solid #067bbb;
        height: 80px;
        width: 225px;

        .rvt-button {
            position: absolute;
            right: 0;
            bottom: -1.25rem;
            box-shadow: 0 0 0 .5rem #00314c;
        }
    }

    .rvtd-section__title::before {
        background: $bright-blue;
    }
}

@include mq(1480px) {
    .rvtd-changelog {
        margin: 0 30px;
    }
}

@include mq(bp(lg)) {
    .rvtd-changelog__cta {
        width: 492px;
    }
}