{{ define "main" }}
    <!-- <h1>{{ .Title }}</h1>
    {{ .Content }}
    <ul>
        {{ range .Data.Pages }}
            <li>
                <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            </li>
        {{ end }}
    </ul> -->
    <div class="rvtd-wrap">
        <div class="rvtd-sidebar">
            {{ partial "components-nav.html" .}}
        </div>
        <div class="rvtd-tube rvtd-typeset">
            <h1>{{ .Title }}</h1>
            <p class="rvtd-lead">{{ .Description }}</p>
            {{ .Content }}
        </div>
    </div>
{{ end }}
