{{ define "main" }}
    <div class="rvtd-wrap">
        {{ partial "sidebar.html" . }}
        <div class="rvtd-tube">
            <div class="rvtd-tube__inner rvtd-typeset">
                <div class="rvt-flex rvt-items-center rvt-justify-end-md-up rvt-m-bottom-sm">
                    {{ if .Params.status }}
                        <span class="rvt-badge rvt-badge--{{ lower .Params.status }}">{{ .Params.status }}</span>
                    {{ end }}
                    {{ if .Params.asOf }}
                        <span class="rvt-ts-14 rvt-m-left-xs">
                            Added in <span class="rvt-text-bold">{{ .Params.asOf }}</span>
                        </span>
                    {{ end }}
                </div>
                <h1>{{ .Title }}</h1>
                <p class="rvtd-lead">{{ .Description }}</p>
                {{ .Content }}
            </div>
        </div>
        <div class="rvtd-article-nav">
            <p>On this page</p>
            {{.TableOfContents}}
        </div>
    </div>
{{ end }}
