{{ define "main" }}
    <div class="rvtd-wrap">
        {{ partial "sidebar.html" . }}
        <div class="rvtd-tube">
            <div class="rvtd-tube__inner rvtd-typeset">
                {{ if .Params.status }}
                    <span class="rvt-badge rvt-badge--{{ lower .Params.status }} rvt-m-bottom-sm">{{ .Params.status }}</span>
                {{ end }}
                <h1>{{ .Title }}</h1>
                {{ if .Params.asOf }}
                    <span>Added in {{ .Params.asOf }}</span>
                {{ end }}
                <p class="rvtd-lead">{{ .Description }}</p>
                {{ .Content }}
            </div>
        </div>
        <div class="rvtd-article-nav">
            <p>On this page</p>
            {{.TableOfContents}}
        </div>
    </div>
{{ end }}
