<section class="rvtd-roadmap" id="roadmap">
    <div class="rvt-container rvt-container--junior rvt-container--center">
      <h2 class="rvtd-section__title color-midnight">Roadmap</h2>
      <ol class="rvt-steps m-top-xxl" role="tablist" aria-label="Roadmap quarters">
        {{ range .Site.Data.roadmap.quarters }}
        <li
          :class="{ 'is-current': (quarter == '{{ .short_title }}' || {{ if .is_current }}quarter == null{{ else }}false{{ end }}), 'is-complete': {{ if .is_complete }}true{{ else }}false{{ end }} }"
        >
          <button
            @click="quarter='{{ .short_title }}'"
            role="tab"
            aria-label="{{ .short_title }} tab"
            id="{{ .short_title }}"
          >
            <span class="rvt-steps__label">
              {{ .short_title }}: {{ .title }}{{ if .is_complete }}<span class="rvt-sr-only">(completed)</span>{{ end }}
            </span>
          </button>
        </li>
        {{ end }}
      </ol>
      {{ range .Site.Data.roadmap.quarters }}
        <div
          v-cloak class="rvtd__quarters m-top-xxl"
          v-if="quarter=='{{ .short_title }}' || (quarter == null && '{{ .is_current }}')"
          aria-role="tabpanel"
          aria-labelledby="{{ .short_title }}"
        >
          <span class="rvt-ts-14">2018</span>
          <h3 class="rvt-ts-26 rvt-m-bottom-sm">{{ .short_title }}: <span class="rvt-text-bold">{{ .title }}</span></h3>
            <div class="rvt-grid">
              {{ range .items }}
                <div class="rvt-grid__item-6-md-up m-top-lg">
                  <div class="rvt-p-right-lg">
                    <h4 class="text-bold">{{ .title }}</h4>
                    <p>{{ .description | markdownify }}</p>
                  </div>
                </div>
              {{ end }}
            </div>
        </div>
      {{ end }}
    </div>
</section>