<section class="rvtd-htu-example rvtd-htu-example--mega-bottom-padding">
  <div class="rvt-container rvt-container--junior rvt-container--center">
    <div class="rvt-grid">
      <div class="rvt-grid__item-5-md-up m-bottom-lg p-top-xxl-lg-up">
        <div class="rvtd-htu-example-info">
          <h2 class="ts-26 ts-32-md-up rvtd-section__title color-midnight">Help make Rivet better</h2>
          <p>We use Github issues to keep track of new component submissions, bugs, design feedback, and any other suggestions related to Rivet. If you have created a component you think would be useful to others or would like to make a suggestion, <a href="{{ .Site.Params.githubRepo }}/issues/new/choose" target="_blank">let us know</a>.</p>
          <a href="./components/information/contributing/" class="button button--secondary m-top-lg">See how you can help</a><br>
          <a class="rvt-m-top-sm display-inline-block" href="{{ .Site.Params.githubRepo }}/issues/new/choose" target="_blank" rel="noopener">Or, create an issue on Github</a>
        </div>
      </div>
    </div>
  </div>
  <div class="rvtd-about-issues">
    <img src="./img/docs/rvtd-issues.jpg" alt="Github interface showing a list of issues submitted by community members">
  </div>
</section>