<div class="rvtd-section rvtd-section--crimson">
  <div class="rvt-container rvt-container--freshman rvt-container--center rvt-text-center">
    <h2 class="rvt-ts-29 rvt-text-bold">Who should use Rivet?</h2>
    <p>If your project is an internal-facing web application, an enterprise system requiring CAS authentication, or a task-focused application separate from your organization’s website, Rivet may be right for you. </p>
    <a href="./about/#should-i-use" class="rvt-button rvt-button--secondary rvt-button--reverse rvt-m-top-md">
      See if Rivet is right for you
    </a>
  </div>
</div>