{{ define "main" }}
    <section class="rvtd-billboard">
        <div class="rvtd-billboard__bg"></div>
        <div class="rvt-container rvt-container--center rvt-container--junior" style="position: relative;">
            <div class="rvt-grid">
                <div class="rvt-grid__item-4-md-up">
                    <h1 class="ts-32 ts-41-md-up p-top-xs-md-up">{{ .Title }}</h1>
                    <p class="ts-20-md-up m-bottom-xl">{{ .Description }}</p>
                </div>
                <div class="rvt-grid__item-7-md-up rvt-grid__item--last">
                    <div class="rvtd-billboard__img-feature">
                        <div class="rvt-panel rvt-panel--light p-all-xl">
                            <h2 class="ts-32 m-bottom-xl">Principles</h2>
                            {{ partial "principles.html" . }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="rvtd-htu-example rvtd-htu-example--shorter rvtd-htu-example--border-bottom rvtd-htu-example--subtle">
        <div class="rvt-container rvt-container--center rvt-container--junior">
            <div class="rvt-grid">
                <div class="rvt-grid__item-4-md-up">
                    <div class="rvtd-htu-example-info">
                        <img src="../img/docs/rvtd-htu-intro.png" class="m-bottom-xl" aria-hidden="true">
                        <h2 class="ts-26 ts-32-md-up">Rivet examples</h2>
                        <p>Quibusdam quis ipsa quasi tenetur culpa enim vel omnis. Est ut rerum optio. Et quos omnis sit eligendi totam esse laborum.</p>
                        <a href="../how-to-use" class="button button--secondary m-top-lg">Learn how to use</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="rvtd-htu-example m-top-remove rvtd-htu-example--border-bottom" id="should-i-use">
        <div class="rvt-container rvt-container--center rvt-container--freshman text-center">
            <h1 class="ts-26 ts-32-md-up m-bottom-md">Should I use Rivet?</h1>
            <p>Whether or not you use Rivet depends on the system you’re building. You may find that the IU Framework fits your needs better.</p>
        </div>
        <div class="rvt-container rvt-container--sophomore rvt-container--center m-top-xxl">
            <div class="rvt-grid">
                <div class="rvt-grid__item-6-md-up">
                    <div class="rvt-panel m-bottom-md">
                        <h2 class="ts-26 text-center m-bottom-lg">Yes, <strong>use Rivet</strong></h2>
                        <ul class="rvtd-check-list">
                            <li>Internal-facing web applications that consist of dynamic, user-generated content</li>
                            <li>Enterprise systems that are used by large parts of the IU community and require CAS authentication</li>
                            <li>Task-focused applications that are technically separate from your department or organization’s website</li>
                        </ul>
                    </div>
                </div>
                <div class="rvt-grid__item-6-md-up p-top-md">
                    <h2 class="ts-26 text-center m-bottom-lg">Use the <strong>IU Framework</strong> instead</h2>
                    <ul>
                        <li>Department and organization websites</li>
                        <li>Websites that have mostly static text content</li>
                        <li>External-facing marketing or campaign websites</li>
                        <li>News websites and blogs</li>
                        <li>Event sites and registration forms</li>
                        <li>Contact forms contained in any of the abov</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="rvtd-htu-example rvtd-htu-example--mega-bottom-padding">
        <div class="rvt-container rvt-container--junior rvt-container--center">
            <div class="rvt-grid">
                <div class="rvt-grid__item-4-md-up m-bottom-lg p-top-xxl-lg-up">
                    <h1 class="ts-26 ts-32-md-up">Help make Rivet better</h1>
                    <p>We use Github issues to keep track of new component submissions, bugs, design feedback, and any other suggestions related to Rivet. If you have created a component you think would be useful to others or would like to make a suggestion, let us know.</p>
                    <a href="../components/information/contributing/" class="button button--secondary m-top-lg">See how you can help</a>
                </div>
            </div>
        </div>
        <div class="rvtd-about-issues">
            <img src="../img/docs/rvtd-issues.jpg" alt="">
        </div>
    </section>
{{ end }}