{{/*
    Set variable to make the template a little cleaner.
*/}}
{{- $sidebarTitle :=  .Site.Params.blogSidebar.title -}}
{{- $sidebarDescription :=  .Site.Params.blogSidebar.description -}}

<aside class="rvtd-article-sidebar rvt-m-top-xxl">
    {{ partial "about-rivet-callout.html" . }}
    <div class="rvt-box rvt-box--light">
        <div class="rvt-box__header">
            <h2 class="rvt-ts-base rvt-text-bold">Recent posts</h2>
        </div>
        <ol class="rvtd-small-list rvt-plain-list">
            {{/* Set context to the current Page */}}
            {{- $currentPage := . -}}
            {{ range where .Site.Sections "Section" "blog" }}
                {{ range first 4 .Pages }}
                    {{/* Set context to the current Article */}}
                    {{- $currentArticle := . -}}
                    {{ if ne $currentPage.URL $currentArticle.URL }}
                    <li class="rvt-box__row">
                        <h3 class="rvt-ts-21 rvt-text-bold">
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                        </h3>
                        <p>{{ .Description }}</p>
                        <time class="rvt-ts-14 rvt-text-uppercase rvt-display-block rvt-m-top-sm">{{ .Date.Format "January 2, 2006" }}</time>
                    </li>
                    {{ end }}
                {{ end }}
            {{ end }}
        </ol>
    </div>
    <a class="rvt-button rvt-button--secondary rvt-m-top-md" href="../../blog">View all posts</a>
</aside>