{{/*
    Set variable to make the template a little cleaner.
*/}}
{{- $sidebarTitle :=  .Site.Params.blogSidebar.title -}}
{{- $sidebarDescription :=  .Site.Params.blogSidebar.description -}}

<aside class="rvtd-article-sidebar rvt-m-top-xxl">
    <h1 class="rvt-ts-26 rvt-text-bold rvt-flat-line-height">{{ $sidebarTitle }}</h1>
    <p>{{ $sidebarDescription }}</p>
    <div class="rvt-m-top-xxl">
        <h2 class="rvt-text-uppercase rvt-m-bottom-sm rvt-ts-14">Recent articles</h2>
        <ol class="rvtd-small-list rvt-plain-list">
            {{/* Set context to the current Page */}}
            {{- $currentPage := . -}}
            {{ range where .Site.Sections "Section" "blog" }}
                {{ range .Pages }}
                    {{/* Set context to the current Article */}}
                    {{- $currentArticle := . -}}
                    {{ if ne $currentPage.URL $currentArticle.URL }}
                    <li>
                        <h3 class="rvt-ts-21 rvt-text-bold">
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                        </h3>
                        <p>{{ .Description }}</p>
                        <time class="rvt-ts-14 rvt-text-uppercase rvt-display-block rvt-m-top-sm">{{ .Date.Format "January 2, 2006" }}</time>
                    </li>
                    {{ end }}
                {{ end }}
            {{ end }}
        </ol>
    </div>
</aside>