<div class="rvtd-banner rvtd-banner--light">
    <div class="rvt-container rvt-container--center rvt-container--junior">
        <div class="rvtd-banner__inner rvt-banner__inner--top-space">
            <div class="rvtd-banner__icon hide-on-small">
                {{ partial "icons/banner-icon.svg" . }}
            </div>
            <p class="rvtd-banner__message">The IU Framework is better suited for many cases. Read this guide before you decide.</p>
            <div class="rvtd-banner__action">
                <a href="#should-i-use" class="button button--secondary">Should I use Rivet?</a>
            </div>
        </div>
    </div>
</div>
