<!-- Capture the current page here -->
{{ $currentPage := . }}
<nav class="rvt-nav">
    <ul class="rvt-toc">
        {{ range where .Site.Sections "Section" "components" }}
            {{ range .Sections }}

            <li>
                <span>{{ .Title }}</span>
                <ul>
                    {{ range .Pages }}
                    <li {{ if eq $currentPage.Permalink .Permalink }}class="is-current"{{ end }}>
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                    </li>
                    {{ end }}
                </ul>
            </li>
            {{ end }}
        {{ end }}
    </ul>
</nav>
