{{ $currentNav := . }}

<div class="rvt-drawer" aria-hidden="true" id="mobile-drawer">
    <one-search></one-search>
    <!-- Drawer nav -->
    <nav class="rvt-drawer__nav" role="navigation" aria-label="resources">
        <ul class="hide-on-desktop">
            <li class="has-children">
                <a href="#" data-subnav-toggle="documentation-subnav" aria-haspopup="true" aria-expanded="false">Documentation</a>
                <ul id="documentation-subnav" aria-hidden="true">
                    <li><a href="{{ trim .Site.BaseURL "/" }}/components">Components</a></li>
                    <li><a href="{{ trim .Site.BaseURL "/" }}/content-guide">Content guide</a></li>
                </ul>
            </li>
            <li class="has-children">
                <a href="#" data-subnav-toggle="about-subnav" aria-haspopup="true" aria-expanded="false">About Rivet</a>
                <ul id="about-subnav" aria-hidden="true">
                    <li><a href="{{ trim .Site.BaseURL "/" }}/how-to-use">How to use</a></li>
                    <li><a href="{{ trim .Site.BaseURL "/" }}/learn">Learn</a></li>
                </ul>
            </li>
            <li><a href="/components/#download-rivet">Use Rivet</a></li>
        </ul>
        <h3 class="ts-14 m-top-sm m-bottom-sm text-uppercase">Resources</h3>
        <ul>
            {{ range .Site.Params.resourceLinks }}
                <li><a {{ if ne .self true }}target="_blank"{{ end }} href="{{ .url }}">{{ .text }}</a></li>
            {{ end }}
        </ul>
        <button class="rvt-drawer__bottom-close">Close nav</button>
    </nav>
</div>
