{{ partial "about-rivet-callout.html" . }}
<div class="rvt-callout rvt-m-bottom-xl">
    <div class="rvt-info-header">
        <h2 class="rvt-ts-23 rvt-text-bold">
            Email newsletter
        </h2>
    </div>
    <p>Sign up for the Rivet newsletter to recieve news and updates about Rivet including new features, release, and community events.</p>
    <a href="https://list.iu.edu/sympa/subscribe/rivet-l" target="_blank" rel="noopener" class="rvt-button rvt-button--secondary">
        <span class="rvt-m-right-xs">Subscribe</span>
        <svg role="img" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
            <path fill="currentColor" d="M13.5,3H2.5A1.5,1.5,0,0,0,1,4.5v8A1.5,1.5,0,0,0,2.5,14h11A1.5,1.5,0,0,0,15,12.5v-8A1.5,1.5,0,0,0,13.5,3ZM11.41,5,8,7.77,4.59,5ZM3,12V6.29L7.11,9.62l.12.08a1.5,1.5,0,0,0,1.54,0L13,6.29V12Z"/>
        </svg>
    </a>
</div>