{{ $currentURL := .URL }}
{{ if or (eq (print "{{ .Site.BaseURL }}" $currentURL) "{{ .Site.BaseURL }}/") (eq (print "{{ .Site.BaseURL }}" $currentURL) "{{ .Site.BaseURL }}/how-to-use/") (eq (print "{{ .Site.BaseURL }}" $currentURL) "{{ .Site.BaseURL }}/about/") }}
    <header class="rvt-header rvt-header--light rvt-header--no-border" role="banner">
{{ else }}
    <header class="rvt-header rvt-header--light" role="banner">
{{ end }}
    <a class="rvt-skip-link" href="#main-content">Skip to content</a>
    <div class="rvt-header__trident">
        {{ partial "trident.html" . }}
    </div>
    <span class="rvt-header__title">
        <a href="{{ .Site.BaseURL }}"><strong>{{ .Site.Title }}</strong> <span class="rvtd-subtitle">{{ .Site.Params.tagline }}</span></a>
    </span>
    <div class="rvt-header__controls">
        <nav class="rvt-header__main-nav" role="navigation" aria-label="main">
            <ul>
                {{ $currentNav := . }}
                {{ range .Site.Sections }}
                    {{/*
                        This checks for a hideFromNav parameter and shows
                        the nav item and for unless set to true
                    */}}
                    {{ if ne .Params.hideFromNav true }}
                    <li {{ if eq $currentNav.Section .Section }}class="is-current"{{ end }}>
                        <a href="{{ .Permalink }}">
                            {{ if .Params.navTitle }}
                                {{ .Params.navTitle }}
                            {{ else }}
                                {{ .Title }}
                            {{ end }}
                        </a>
                    </li>
                    {{ end }}
                {{ end }}
                <li><a href="{{ .Site.BaseURL }}/components/#download-rivet" class="button button--secondary button--small">Download</a></li>
            </ul>
        </nav>
        {{ partial "drawer-button.html" . }}
    </div>
    {{ partial "drawer.html" . }}
</header>
