<div class="rvtd-blurbs">
    <div class="rvt-container rvt-container--center rvt-container--junior">
        <div class="rvt-grid">
            <div class="rvt-grid__item-4-md-up">
                <div class="rvtd-blurb">
                    <div class="m-bottom-sm m-bottom-xl-md-up">
                        {{ partial "icons/examples-icon.svg" . }}
                    </div>
                    <h2 class="ts-20 ts-26-md-up">See what Rivet can do</h2>
                    <p class="m-bottom-md m-bottom-xl-md-up">We’ve put together some examples to help you get some ideas on how you might implement Rivet on your new application.</p>
                    <a href="how-to-use"><strong>See examples</strong></a>
                </div>
            </div>
            <div class="rvt-grid__item-4-md-up">
                <div class="rvtd-blurb">
                    <div class="m-bottom-sm m-bottom-xl-md-up">
                        {{ partial "icons/content-icon.svg" . }}
                    </div>
                    <h2 class="ts-20 ts-26-md-up">Refine your content</h2>
                    <p class="m-bottom-md m-bottom-xl-md-up">Learn how to write content that works for your users.</p>
                    <a href="/content-guide"><strong>Read about content</strong></a>
                </div>
            </div>
            <div class="rvt-grid__item-4-md-up">
                <div class="rvtd-blurb">
                    <div class="m-bottom-sm m-bottom-xl-md-up">
                        {{ partial "icons/contribute-icon.svg" . }}
                    </div>
                    <h2 class="ts-20 ts-26-md-up">Tailor Rivet to your needs</h2>
                    <p class="m-bottom-md m-bottom-xl-md-up">If you have created a component you think would be useful to others or would like to make a suggestion, let us know.</p>
                    <a href="/components/information/contributing/"><strong>Learn how to contribute</strong></a>
                </div>
            </div>
        </div>
    </div>
</div>