<div class="rvtd-blurbs">
    <div class="rvt-container rvt-container--center rvt-container--junior">
        <div class="rvt-grid">
            <div class="rvt-grid__item-4-md-up">
                <div class="rvtd-blurb">
                    <div class="m-bottom-sm m-bottom-xl-md-up">
                        {{ partial "icons/examples-icon.svg" . }}
                    </div>
                    <h2 class="ts-20 ts-26-md-up">See what Rivet can do</h2>
                    <p class="m-bottom-md m-bottom-xl-md-up">Intrigued? We’ve put together some examples of how Rivet can be used, and how it can help you handle and display data.</p>
                    <a href="how-to-use"><strong>See examples</strong></a>
                </div>
            </div>
            <div class="rvt-grid__item-4-md-up">
                <div class="rvtd-blurb">
                    <div class="m-bottom-sm m-bottom-xl-md-up">
                        {{ partial "icons/content-icon.svg" . }}
                    </div>
                    <h2 class="ts-20 ts-26-md-up">Refine your content</h2>
                    <p class="m-bottom-md m-bottom-xl-md-up">Could your content do with a brush-up? Let us help. We’ve put together a guide to help you fine-tune your microcopy, keeping language jargon free and concise.</p>
                    <a href="/content-guide"><strong>Read about content</strong></a>
                </div>
            </div>
            <div class="rvt-grid__item-4-md-up">
                <div class="rvtd-blurb">
                    <div class="m-bottom-sm m-bottom-xl-md-up">
                        {{ partial "icons/contribute-icon.svg" . }}
                    </div>
                    <h2 class="ts-20 ts-26-md-up">Make Rivet work for you</h2>
                    <p class="m-bottom-md m-bottom-xl-md-up">Rivet was created with everyone in mind. That means it’s your creation, too. By giving feedback and sharing what does and doesn’t work for you, we can collectively make it better.</p>
                    <a href="/components/information/contributing/"><strong>Learn how to contribute</strong></a>
                </div>
            </div>
        </div>
    </div>
</div>
