<ol class="rvtd-marketing-list m-top-xs-md-up">
    <li>
        <h2 class="ts-23 ts-26-md-up">Be <strong>clear</strong>.</h2>
        <p>Make design decisions based on user needs. Design interfaces that help our users accomplish their goals quickly and
            easily.</p>
    </li>
    <li>
        <h2 class="ts-23 ts-26-md-up">Be <strong>flexible</strong>.</h2>
        <p>Our design system is for all types of UITS applications, even ones that have yet to be imagined. We need to design
            and build for flexibility.</p>
    </li>
    <li>
        <h2 class="ts-23 ts-26-md-up">Be <strong>productive</strong>.</h2>
        <p>Done is better than perfect. Iteration is only half the battle. Testing with users could reveal issues or questions
            we didn’t anticipate.</p>
    </li>
</ol>