<div class="rvtd-search-form">
  <form role="search">
    <div class="rvt-p-lr-md rvt-p-top-md rvt-p-bottom-lg rvt-p-bottom-md-md-up rvt-border-bottom">
      <label for="docs-search" class="rvt-sr-only">Search the docs</label>
      <input type="text" id="docs-search" placeholder="Search the docs">
    </div>
  </form>
  <button type="button" class="rvt-button rvtd-nav-toggle" data-dropdown-toggle="main-nav">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
      <path fill="currentColor" d="M8,12.46a2,2,0,0,1-1.52-.7L1.24,5.65a1,1,0,1,1,1.52-1.3L8,10.46l5.24-6.11a1,1,0,0,1,1.52,1.3L9.52,11.76A2,2,0,0,1,8,12.46Z"/>
    </svg>
    <span class="rvt-sr-only">Toggle menu</span>
  </button>
</div>