<!-- Capture the current page here -->
{{ $currentPage := . }}
{{ $currentParentSection := .Section }}
<nav class="rvtd-nav" :class="{ 'is-visible' : navIsVisible }" role="navigation" aria-label="section">
    <span class="rvt-m-bottom-md rvt-display-block">Version <span class="rvt-text-bold">{{ .Site.Params.rivetVersion }}</span></span>
    <ul class="rvtd-toc">
        {{ range where .Site.Sections "Section" $currentParentSection }}
            {{ range .Sections }}
            <li>
                <span class="text-uppercase rvt-m-bottom-sm">{{ .Title }}</span>
                <ul>
                    {{ range .Pages }}
                    <li class="{{ lower .Params.status }}{{ if eq $currentPage.Permalink .Permalink }} is-current{{ end }}">
                        <a {{ if .Params.requiresJs }}aria-describedby="{{ .Title | urlize }}-js-req" {{ end }}href="{{ .Permalink }}">
                            {{ .Title }}
                            {{ if .Params.requiresJs }}
                            <span class="rvt-display-inline rvt-badge rvt-badge--warning-secondary" id="{{ .Title | urlize }}-js-req">
                                <span class="rvt-sr-only">This component requires</span>
                                <abbr aria-label="JavaScript" title="JavaScript">JS</abbr>
                            </span>
                            {{ end }}
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </li>
            {{ end }}
        {{ end }}
    </ul>
</nav>
