<section class="rvtd-htu-example m-top-remove rvtd-htu-example--border-bottom" id="should-i-use">
    <div class="rvt-container rvt-container--center rvt-container--freshman text-center">
        <h1 class="ts-26 ts-32-md-up m-bottom-md">Should I use Rivet?</h1>
        <p>Whether or not you use Rivet depends on the system you’re building. You may find that the <a href="https://framework.iu.edu/" target="_blank">IU Framework</a> fits your needs better.</p>
    </div>
    <div class="rvt-container rvt-container--sophomore rvt-container--center m-top-xxl">
        <div class="rvt-grid">
            <div class="rvt-grid__item-6-md-up">
                <div class="rvt-panel m-bottom-md">
                    <h2 class="ts-26 text-center m-bottom-lg">Yes, <strong>use Rivet</strong></h2>
                    <ul class="rvtd-check-list">
                        <li>Internal-facing web applications that consist of dynamic, user-generated content</li>
                        <li>Enterprise systems that are used by large parts of the IU community and require CAS authentication</li>
                        <li>Task-focused applications that are technically separate from your department or organization’s website</li>
                    </ul>
                </div>
            </div>
            <div class="rvt-grid__item-6-md-up p-top-md">
                <h2 class="ts-26 text-center m-bottom-lg">Use the <strong><a href="https://framework.iu.edu/" target="_blank">IU Framework</a></strong> instead</h2>
                <ul>
                    <li>Department and organization websites</li>
                    <li>Websites that have mostly static text content</li>
                    <li>External-facing marketing or campaign websites</li>
                    <li>News websites and blogs</li>
                    <li>Event sites and registration forms</li>
                    <li>Contact forms contained in any of the abov</li>
                </ul>
            </div>
        </div>
    </div>
</section>