<div class="rvtd-support">
  <div class="rvt-dropdown">
    <button
      type="button"
      class="rvt-button rvtd-support__toggle"
      type="button"
      data-dropdown="help-dropdown"
      data-dropdown-toggle="support-menu"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <span class="rvt-sr-only">Get help</span>
      {{ partial "icons/question-mark-icon.svg" . }}
    </button>
    <div class="rvtd-support__menu rvt-box rvt-box--card" id="support-menu" aria-hidden="true">
      <div class="rvt-box__body">
        <div class="rvt-ts-18 rvt-text-bold">
          Have a question about Rivet?
        </div>
        <p>We're happy to help! If you've found a bug, typo, or have a request, the best way
        to get in touch is to <a href="{{ .Site.Params.githubRepo}}/issues" target="_blank" rel="noopener">create an issue on Github</a>.</p>
        <p>For all other questions please feel free to email us at <a href="mailto:rivet@iu.edu">rivet@iu.edu</a></p>
      </div>
    </div>
  </div>
</div>
