{{ define "main" }}
<section class="rvtd-red-bar">
    <div class="rvt-container--senior rvt-container--center main-container">
        <div class="rvt-grid">
            <div class="rvt-grid__item rvt-grid__item-9-md-up rvt-grid__item-7-lg-up title-block">
                <p class="pre-header"><span class="crimson section-bar"></span>Coming in April</p>
                <h1 class="large-title crimson"><span class="tight">R</span>ivet<br><span class="version-title white-text">1<span class="tight">.0</span></span></h1>
                <p class="rvt-ts-18-md-up white-text intro">In the early 2018, we will be focusing on the first stable release of Rivet. We'll be adding a few new components, but our main goal is to get Rivet to our official 1.0 release.</p>
                <div class="rvt-button-group">
                    <a href="./#roadmap" class="rvt-button white-fill rvt-m-top-lg"><span class="rvt-hide-md-down">View&nbsp;</span>Roadmap</a>
                    <a href="./components/#download-rivet" class="rvt-button rvt-button--secondary white-text white-border rvt-m-top-lg rvt-m-left-sm">Documentation</a>
                </div>
            </div>
            <div class="rvt-grid__item phone">
                <img src="./img/docs/rvtd-home-iphone.png" width="394" alt="Rivet on an iPhone" />
            </div>
        </div>
    </div>
</section>
<section class="rvtd-section rvt-p-bottom-remove">
    <div class="angle-container">
        <div class="angle"></div>
        <div class="rvt-container rvt-container--senior rvt-container--center">
            <div class="rvt-grid">
                <div class="rvt-grid__item-4 rvt-grid__item-5-lg-up  rvt-m-left-xxl-xl-up rvt-m-right-xxl-md-up laptop">
                    <img src="https://imgur.com/RfBugOK.png" width="780" alt="Rivet screen on a laptop." />
                </div>
                <div class="rvt-grid__item rvt-grid__item-5-xl-up rvt-p-all-xxl-md-up rvt-m-top-xxl-lg-up">
                    <p class="rvt-ts-23 rvt-m-bottom-lg"><strong>Familiarity</strong> is a key component of usability. We give you the toolset for creating web applications and users get a better experience.</p>
                    <a href="./blog" class="rvt-button">Why we built Rivet</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="rvtd-roadmap" id="roadmap">
    <div class="rvt-container rvt-container--junior rvt-container--center">
        <h1 class="rvtd-section__title color-midnight">Roadmap</h1>
        <ol class="rvt-steps m-top-xxl">
            {{ range .Site.Data.roadmap.quarters }}
            <li :class="{ 'is-current': quarter == '{{ .short_title }}' }">
                <button @click="quarter='{{ .short_title }}'">
                    <span class="rvt-steps__label">{{ .short_title }}</span>
                </button>
            </li>
            {{ end }}
        </ol>
        {{ range .Site.Data.roadmap.quarters }}
            <div v-cloak class="rvtd__quarters m-top-xl" v-if="quarter=='{{ .short_title }}'">
                <h2 class="rvt-ts-26 rvt-text-bold rvt-m-bottom-sm">{{ .title }}</h2>
                <div class="rvt-grid">
                    {{ range .items }}
                        <div class="rvt-grid__item-6-md-up m-top-lg">
                            <div class="rvt-p-right-lg">
                                <h3 class="text-bold rvt-color-midnight">{{ .title }}</h3>
                                <p>{{ .description | markdownify }}</p>
                            </div>
                        </div>
                    {{ end }}
                </div>
            </div>
        {{ end }}

    </div>
</section>

<changelog></changelog>

<section class="rvtd-htu-example rvtd-htu-example--mega-bottom-padding">
    <div class="rvt-container rvt-container--junior rvt-container--center">
        <div class="rvt-grid">
            <div class="rvt-grid__item-5-md-up m-bottom-lg p-top-xxl-lg-up">
                <div class="rvtd-htu-example-info">
                    <h1 class="ts-26 ts-32-md-up rvtd-section__title color-midnight">Help make Rivet better</h1>
                    <p>We use Github issues to keep track of new component submissions, bugs, design feedback, and any other suggestions related to Rivet. If you have created a component you think would be useful to others or would like to make a suggestion, <a href="{{ .Site.Params.githubRepo }}/issues" target="_blank">let us know</a>.</p>
                    <a href="./components/information/contributing/" class="button button--secondary m-top-lg">See how you can help</a><br>
                    <a class="rvt-m-top-sm display-inline-block" href="{{ .Site.Params.githubRepo }}/issues" target="_blank" rel="noopener">Or, create an issue on Github</a>
                </div>
            </div>
        </div>
    </div>
    <div class="rvtd-about-issues">
        <img src="./img/docs/rvtd-issues.jpg" alt="Github interface showing a list of issues submitted by community members">
    </div>
</section>
{{ end }}





