{{ define "main" }}
<section class="rvtd-intro">
    <div class="rvt-container rvt-container--center rvt-container--junior">
        <div class="rvt-grid">
            <div class="rvt-grid__item-12-sm-up rvt-grid__item-6-md-up">
                <h1 class="ts-32 ts-46--md-up">{{ .Title | markdownify }}</h1>
                <p class="ts-20--md-up m-bottom-xl">{{ .Description }}</p>
                <div class="button-group">
                    <a href="{{ .Params.primaryCtaLink }}" class="button">{{ .Params.primaryCta }}</a>
                    <a href="{{ .Params.secondaryCtaLink }}" class="button button--secondary">{{ .Params.secondaryCta }}</a>
                </div>
            </div>
            <div class="rvt-grid__item-6-md-up hide-lg-down">
                <img src="{{ "img/docs/rvtd-intro-illo.jpg" | absURL }}" alt="">
            </div>
        </div>
    </div>
</section>
<section class="rvtd-explainer">
    <div class="rvtd-comp-table">
        <div class="rvt-container rvt-container--center rvt-container--junior">
            <div class="rvt-grid">
                <div class="rvt-grid__item-4-md-up">
                    <h1 class="ts-26 ts-32--md-up" id="should-i-use">Should I use Rivet?</h1>
                    <p>Rivet is not a replacement for the IU Web Framework which should be used for static content-driven brochure websites. If
                    you need more info on wether or not you should use Rivet, check out this table to help you make a decision.</p>
                </div>
                <div class="rvt-grid__item-8-md-up">
                    Comparison table
                </div>
            </div>
        </div>
    </div>
    <div class="rvtd-blurbs">
        <div class="rvt-container rvt-container--center rvt-container--junior">
            <div class="rvt-grid">
                <div class="rvt-grid__item-4-md-up">
                    <div class="rvtd-blurb">
                        <div class="m-bottom-sm m-bottom-xl--md-up">
                            {{ partial "icons/examples-icon.svg" . }}
                        </div>
                        <h2 class="ts-20 ts-26--md-up">See what Rivet can do</h2>
                        <p class="m-bottom-xl">We’ve put together some examples to help you get some ideas on how you might implement Rivet on your new application.</p>
                        <a href="/resources" class="button button--secondary">See examples</a>
                    </div>
                </div>
                <div class="rvt-grid__item-4-md-up">
                    <div class="rvtd-blurb">
                        <div class="m-bottom-sm m-bottom-xl--md-up">
                            {{ partial "icons/content-icon.svg" . }}
                        </div>
                        <h2 class="ts-20 ts-26--md-up">Refine your content</h2>
                        <p class="m-bottom-xl">We’ve put together some examples to help you get some ideas on how you might implement Rivet on your new application.</p>
                        <a href="/content-guide" class="button button--secondary">Read about content</a>
                    </div>
                </div>
                <div class="rvt-grid__item-4-md-up">
                    <div class="rvtd-blurb">
                        <div class="m-bottom-sm m-bottom-xl--md-up">
                            {{ partial "icons/contribute-icon.svg" . }}
                        </div>
                        <h2 class="ts-20 ts-26--md-up">Tailor Rivet to your needs</h2>
                        <p class="m-bottom-xl">We’ve put together some examples to help you get some ideas on how you might implement Rivet on your new application.</p>
                        <a href="/resources" class="button button--secondary">Learn how to contribute</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}
