{{ define "main" }}
<section class="rvtd-red-bar">
    <div class="rvt-container--senior rvt-container--center main-container">
        <div class="rvt-grid">
            <div class="rvt-grid__item rvt-grid__item-9-md-up rvt-grid__item-7-lg-up title-block">
                <p class="pre-header"><span class="crimson section-bar"></span>Introducing</p>
                <h1 class="large-title crimson"><span class="tight">R</span>ivet<br><span class="version-title white-text">1<span class="tight">.0</span></span></h1>
                <p class="rvt-ts-18-md-up white-text intro">In the early 2018, we will be focusing on the first stable release of Rivet. We'll be adding a few new components, but our main goal is to get Rivet to our official 1.0 release.</p>
                <div class="rvt-button-group button-block">
                    <a href="./components/#download-rivet" class="rvt-button white-fill rvt-m-top-lg">Download<span class="hide-sm-down">&nbsp;1.0</span></a>
                    <a href="./components/" class="rvt-button rvt-button--secondary white-text white-border rvt-m-top-lg rvt-m-left-sm">Documentation</a>
                </div>
            </div>
            <div class="rvt-grid__item phone">
                <img src="./img/docs/rvtd-home-iphone.png" width="394" alt="Rivet on an iPhone" />
            </div>
        </div>
    </div>
</section>
<section class="rvtd-section">
    <div class="rvt-container rvt-container--center rvt-container--junior p-top-xxl-md-up">
        <div class="rvt-grid">
            <div class="rvt-grid__item-5-md-up m-top-xl">
                <img src="./img/rvtd-illustration-examples.png" alt="">
                <p class="rvt-m-top-lg m-bottom-lg"><a href="how-to-use" class="text-bold">See some examples built using Rivet</a> and get some ideas of how you can use it in your next project. Everything from forms to complex data tables.</p>
            </div>
            <div class="rvt-grid__item-5-md-up rvt-grid__item--last m-top-xl">
                <img src="./img/rvtd-illustration-axure.png" alt="">
                <p class="rvt-m-top-lg m-bottom-lg">Use the <a href="{{ .Site.Params.axureKit }}" class="text-bold">Axure wireframe kit</a> with accurate representations of all Rivet components to quickly prototype and test your designs.</p>
            </div>
        </div>
    </div>
</section>
<section class="rvtd-homepage-flare rvtd-homepage-flare--subtle">
    <div class="rvt-container rvt-container--center rvt-container--junior">
        <div class="rvt-grid">
            <div class="rvt-grid__item-5-md-up rvt-grid__item--last p-top-xxl-md-up">
                <div class="rvtd-htu-example-info">
                    <h2 class="ts-26 ts-32-md-up">Clear.</h2>
                    <p>Create familiarity across UITS applications. Familiarity makes things quicker and easier for our users — it helps them understand our services and trust us.</p>
                    <a href="content-guide" class="button button--secondary m-top-lg">View content guide</a>
                </div>
            </div>
        </div>
    </div>
    <div class="rvtd-homepage-flare__img-one">
        <img src="./img/docs/rvtd-htu-example-one.png" alt="">
    </div>
</section>
<section class="rvtd-homepage-flare">
    <div class="rvt-container rvt-container--center rvt-container--junior">
        <div class="rvt-grid">
            <div class="rvt-grid__item-5-md-up p-top-xxl-md-up">
                <div class="rvtd-htu-example-info">
                    <h2 class="ts-26 ts-32-md-up">Flexible.</h2>
                    <p>Build everything from sign-up forms to complex, data-sense interfaces with ease. Rivet is for all UITS applications, even the ones that are yet to be imagined.</p>
                    <a href="how-to-use" class="button button--secondary m-top-lg m-bottom-lg">View examples</a>
                </div>
            </div>
            <div class="rvt-grid__item-6-md-up rvt-grid__item--last">
                <div class="rvtd-homepage-flare__figure">
                    <img src="./img/homepage-flare__flexible.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="rvtd-homepage-flare rvtd-homepage-flare--subtle">
    <div class="rvt-container rvt-container--center rvt-container--junior">
        <div class="rvt-grid">
            <div class="rvt-grid__item-5-md-up rvt-grid__item-push-7-md p-top-xxl-md-up">
                <div class="rvtd-htu-example-info">
                    <h2 class="ts-26 ts-32-md-up">Productive.</h2>
                    <p>Fast forward through development cycle by using Rivet’s robust, ready-to-use, UI components that follow industry best practices.</p>
                    <a href="components" class="button button--secondary m-top-lg m-bottom-lg">Read the documentation</a>
                </div>
            </div>
            <div class="rvt-grid__item-6-md-up rvt-grid__item-pull-6-md rvt-grid__item--last">
                <div class="rvtd-homepage-flare__figure">
                    <img src="./img/homepage-flare__productive.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="rvtd-htu-example m-top-remove rvtd-htu-example--border-bottom" id="should-i-use">
    <div class="rvt-container rvt-container--center rvt-container--freshman text-center">
        <h1 class="ts-26 ts-32-md-up m-bottom-md">Should I use Rivet?</h1>
        <p>Whether or not you use Rivet depends on the system you’re building. You may find that the <a href="https://framework.iu.edu/" target="_blank">IU Framework</a> fits your needs better.</p>
    </div>
    <div class="rvt-container rvt-container--sophomore rvt-container--center m-top-xxl">
        <div class="rvt-grid">
            <div class="rvt-grid__item-6-md-up">
                <div class="rvt-panel m-bottom-md">
                    <h2 class="ts-26 text-center m-bottom-lg">Yes, <strong>use Rivet</strong></h2>
                    <ul class="rvtd-check-list">
                        <li>Internal-facing web applications that consist of dynamic, user-generated content</li>
                        <li>Enterprise systems that are used by large parts of the IU community and require CAS authentication</li>
                        <li>Task-focused applications that are technically separate from your department or organization’s website</li>
                    </ul>
                </div>
            </div>
            <div class="rvt-grid__item-6-md-up p-top-md">
                <h2 class="ts-26 text-center m-bottom-lg">Use the <strong><a href="https://framework.iu.edu/" target="_blank">IU Framework</a></strong> instead</h2>
                <ul>
                    <li>Department and organization websites</li>
                    <li>Websites that have mostly static text content</li>
                    <li>External-facing marketing or campaign websites</li>
                    <li>News websites and blogs</li>
                    <li>Event sites and registration forms</li>
                    <li>Contact forms contained in any of the above</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="rvtd-htu-example rvtd-htu-example--mega-bottom-padding">
    <div class="rvt-container rvt-container--junior rvt-container--center">
        <div class="rvt-grid">
            <div class="rvt-grid__item-5-md-up m-bottom-lg p-top-xxl-lg-up">
                <div class="rvtd-htu-example-info">
                    <h1 class="ts-26 ts-32-md-up">Help make Rivet better</h1>
                    <p>We use Github issues to keep track of new component submissions, bugs, design feedback, and any other suggestions related to Rivet. If you have created a component you think would be useful to others or would like to make a suggestion, <a href="{{ .Site.Params.githubRepo }}/issues" target="_blank">let us know</a>.</p>
                    <a href="./components/information/contributing/" class="button button--secondary m-top-lg">See how you can help</a><br>
                    <a class="rvt-m-top-sm display-inline-block" href="{{ .Site.Params.githubRepo }}/issues" target="_blank">Or, create an issue on Github</a>
                </div>
            </div>
        </div>
    </div>
    <div class="rvtd-about-issues">
        <img src="./img/docs/rvtd-issues.jpg" alt="">
    </div>
</section>
{{ end }}
