{{ define "main" }}
    <section class="rvtd-billboard">
        <div class="rvtd-billboard__bg"></div>
        <div class="rvt-container rvt-container--center rvt-container--junior" style="position: relative;">
            <div class="rvt-grid">
                <div class="rvt-grid__item-4-md-up">
                    <h1 class="ts-32 ts-41-md-up p-top-xs-md-up">{{ .Title | markdownify }}</h1>
                    <p class="ts-20-md-up m-bottom-xl">{{ .Description }}</p>
                </div>
            </div>
            <div class="rvtd-billboard__img-htu">
                <img src="../img/docs/rvtd-htu-intro.png" alt="">
            </div>
        </div>
    </section>
    <div class="rvtd-htu-example rvtd-htu-example--border-bottom rvtd-htu-example--mega-top-padding">
        <div class="rvt-container rvt-container--center rvt-container--junior">
            <div class="rvt-grid">
                <div class="rvt-grid__item-5-md-up rvt-grid__item--last p-top-xxl">
                    <div class="rvtd-htu-example-info">
                        <h2 class="ts-26 ts-32-md-up">Mobile first dashboard</h2>
                        <p>Create a dashboard view for your app using Rivet's mobile-first designed components. This example shows how Rivet's flexible type scale and spacing utilities can be combined to create layouts that work for all screens.</p>
                        <a href="https://codepen.io/levimcg/pen/MEeYaE" target="_blank" class="button button--secondary m-top-lg">See the example</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="rvtd-htu-example__img-one">
            <img src="../img/docs/rvtd-htu-example-one.png" alt="">
        </div>
    </div>
    <div class="rvtd-htu-example rvtd-htu-example--border-bottom rvtd-htu-example--mega-bottom-padding">
        <div class="rvt-container rvt-container--center rvt-container--junior">
            <div class="rvt-grid">
                <div class="rvt-grid__item-5-md-up p-top-xxl-md-up">
                    <div class="rvtd-htu-example-info">
                        <h2 class="ts-26 ts-32-md-up">Integrating Rivet</h2>
                        <p>Rivet can be integrated with any frontend Javascript framework, including React, Angular and VueJS. This article will walk you through converting a Rivet alert component to a React component.</p>
                        <a href="../blog/integrating-rivet/" class="button button--secondary m-top-lg">Read this article</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="rvtd-htu-example__img-two">
            <img src="../img/docs/rvtd-htu-example-two.png" alt="">
        </div>
    </div>

    <div class="rvtd-htu-example rvtd-htu-example--border-bottom">
        <div class="rvt-container rvt-container--center rvt-container--junior">
            <div class="rvt-grid">
                <div class="rvt-grid__item-5-md-up rvt-grid__item-push-7-md p-top-xxl-md-up">
                    <div class="rvtd-htu-example-info">
                        <h2 class="ts-26 ts-32-md-up">Axure wireframe kit</h2>
                        <p>We've created an Axure wireframe kit with accurate representations of all the Rivet components.</p>
                        <a href="{{ .Site.Params.axureKit }}" class="button button--secondary m-top-lg m-bottom-xl">Download the Axure kit</a>
                    </div>
                </div>
                <div class="rvt-grid__item-6-md-up rvt-grid__item-pull-5-md">
                    <div class="rvtd-htu-example__img-axure">
                        <img src="../img/docs/rvtd-htu-example-axure.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="rvtd-htu-example">
        <div class="rvt-container rvt-container--center rvt-container--junior">
            <div class="rvt-grid">
                <div class="rvt-grid__item-5-md-up p-top-lg">
                    <div class="rvtd-htu-example-info">
                        <h1 class="ts-26 ts-32-md-up">Start using Rivet</h1>
                        <p>Get started using Rivet by heading over the the component documentation. You can learn about all the ways you can use Rivet and best practices for implementing it in your next project.</p>
                        <a href="../components" class="button button--secondary m-top-lg m-bottom-lg">Go to documentation</a>
                    </div>
                </div>
                <div class="rvt-grid__item-6-md-up rvt-grid__item--last">
                    <div class="rvtd-htu-example__img-axure">
                        <img src="../img/docs/rvtd-htu-intro.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ end }}
