{{ define "main" }}
<div class="rvt-container rvt-container--senior rvt-container--center p-top-xl">
    <div class="rvt-grid">
        <div class="rvt-grid__item-7-md-up rvtd-typeset">
            <h1>{{ .Title }}</h1>
            <p class="rvtd-lead">{{ .Description }}</p>
        </div>
    </div>
</div>
<div class="rvt-container rvt-container--senior rvt-container--center rvtd-typeset p-top-md">
    <div class="rvt-grid">
        <div class="rvt-grid__item-7-md-up rvt-grid__item-7-xl-up">
            <h2 class="ts-32 m-bottom-md">Examples</h2>
            <p class="ts-18 m-bottom-xxl">These examples are meant to give you some ideas for how to use Rivet in your project. If you have a good example you would like to share of how you used Rivet in your application or service please let us know.</p>
            <div class="rvt-grid">
                {{ range .Pages }}
                <div class="rvt-grid__item-6-md-up m-bottom-lg">
                    <a href="{{ .Params.externalLink }}" class="rvtd-example-link">
                        <figure class="rvtd-example-link__thumbnail">
                            <img src="{{ .Params.thumbnail }}" alt="">
                        </figure>
                        <h3 class="ts-26 m-top-sm">{{ .Title }}</h3>
                        <p>{{ .Description }}</p>
                    </a>
                </div>
                {{ end }}
            </div>
        </div>
        <div class="rvt-grid__item-4-md-up rvt-grid__item--last">
            <aside>
                <h1 class="ts-29 m-bottom-lg">Get started</h1>
                <div class="rvt-panel m-bottom-lg">
                    <h2 class="ts-23">Download</h2>
                    <p class="m-bottom-md"><a href="../components">Read more about the components</a> or download a ZIP file that contains everything you need to get started.</p>
                    <a href="{{ .Site.Params.downloadLink }}" class="button ">Download Rivet</a>
                </div>
                <div class="rvt-panel m-bottom-lg">
                    <h2 class="ts-23">Axure UI Kit</h2>
                    <p class="m-bottom-md">We have created a static UI kit in Axure so that designers can create interactive prototypes that match Rivet’s visual style.</p>
                    <a href="#0" class="button">Download the UI kit</a>
                </div>
                <div class="rvt-panel m-bottom-lg">
                    <h2 class="ts-23">Hosted assets</h2>
                    <p class="m-bottom-md">The easiest way to get started using Rivet is to link to the centrally hosted version of the Rivet CSS and JavaScript and use the handy starter template.</p>
                    <a href="../components/#hosted-css-and-javascript" class="button">Get the links</a>
                </div>
            </aside>
        </div>
    </div>
</div>
{{ end }}