<div class="rvtd-page-nav">
  <div class="rvt-container rvt-container--center rvt-container--junior">
    <div class="rvtd-page-nav__inner">
      <div class="rvtd-page-nav__icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
          <g fill="currentColor">
            <path d="M8,16a8,8,0,1,1,8-8A8,8,0,0,1,8,16ZM8,2a6,6,0,1,0,6,6A6,6,0,0,0,8,2Z" />
            <path d="M8,12a1,1,0,0,1-1-1V8A1,1,0,0,1,9,8v3A1,1,0,0,1,8,12Z" />
            <circle cx="8" cy="5" r="1" />
          </g>
        </svg>
      </div>
      <nav role="navigation" aria-label="Jump to a section">
        <ul class="rvtd-page-nav__list rvt-plain-list">
          <li class="rvtd-page-nav__list-item">
            <a href="#should-i-use">Should I use it?</a>
          </li>
          <li class="rvtd-page-nav__list-item">
            <a href="#why-did-we-build-it">Why did we build it?</a>
          </li>
          <li class="rvtd-page-nav__list-item">
            <a href="#who-supports-it">Who supports it?</a>
          </li>
          <li class="rvtd-page-nav__list-item">
            <a href="#how-do-we-develop-it">How do we develop it?</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>