<div class="rvtd-section rvtd-section--subtle" id="should-i-use">
  <div class="rvt-container rvt-container--junior rvt-container--center">
    <div class="rvt-text-center">
      <h2 class="rvt-ts-lg rvt-text-bold">Should I use Rivet?</h2>
      <p class="rvt-ts-18">Is Rivet right for your project? Or should you use the IU Framework?</p>
    </div>
  </div>
  <div class="rvt-container rvt-container--sophomore rvt-container--center rvt-m-top-xxl">
    <div class="rvt-grid">
      <div class="rvt-grid__item-6-md-up">
        <div class="rvtd-panel rvt-m-right-sm-md-up m-bottom-md">
          <h3 class="rvt-ts-md rvt-text-center rvt-m-tb-md">Use <strong>Rivet</strong> for:</h3>
          <ul class="rvtd-check-list">
            <li>Internal-facing web applications consisting of dynamic, user-generated content</li>
            <li>Enterprise systems used by large parts of the IU community and requiring CAS authentication</li>
            <li>Task-focused applications technically separate from your department or organization’s website</li>
          </ul>
        </div>
      </div>
      <div class="rvt-grid__item-6-md-up">
        <div class="rvtd-panel rvt-m-left-sm-md-up">
          <h3 class="rvt-ts-md rvt-text-center rvt-m-tb-md">Use the <strong>IU Framework</strong> for:</h3>
          <ul class="rvtd-check-list">
            <li>Department and organization websites</li>
            <li>Websites with mostly static text content</li>
            <li>External-facing marketing or campaign websites</li>
            <li>News websites and blogs</li>
            <li>Contact forms contained in any of the above</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>