{{/*
    This shortcode is used to generate the tables for API documentation.
    It takes one parameter called "type". the "type" parameter can one of two
    options depending on what is being documented:
    - "methods"
    - "events"

    This determines the label for the first column in the resulting table.

    TODO: Refactor this into one single statement that checks the "type"
    variable and used that value to set the label and loop through values.
    This is too repetitive.
*/}}

{{/* This ".Inner" value has to be called for shortcodes to work */}}

{{ .Inner }}

{{ if eq (.Get "type") "methods" }}
<table class="rvt-table-cells">
    <caption class="sr-only">{{ $.Page.Params.title }} JavaScript methods</caption>
    <thead>
        <tr>
            <th scope="col">Method</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        {{ range $.Page.Params.methods }}
        <tr {{ if .deprecated }}style="background-color: #fdf7e7; border-left: 4px solid #f5bb17"{{ end }}>
            <td width="350" style="vertical-align: top;">
                {{ if .deprecated }}<span class="rvt-badge rvt-badge--warning">Deprecated</span><br>{{ end }}
                <code>{{ .title }}</code>
            </td>
            <td style="vertical-align: top;">
                {{ .description | markdownify }}
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}

{{/* If the "type" parameter is set to "events" */}}

{{ if eq (.Get "type") "events" }}
<table class="rvt-table-cells">
    <caption class="sr-only">{{ $.Page.Params.title }} JavaScript custom events</caption>
    <thead>
        <tr>
            <th scope="col">Event</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        {{ range $.Page.Params.events }}
        <tr {{ if .deprecated }}style="background-color: #fdf7e7; border-left: 4px solid #f5bb17"{{ end }}>
            <td width="350" style="vertical-align: top;">
                {{ if .deprecated }}<span class="rvt-badge rvt-badge--warning">Deprecated</span><br>{{ end }}
                <code>{{ .title }}</code>
            </td>
            <td style="vertical-align: top;">
                {{ .description | markdownify }}
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}