<div class="rvtd-example">
    <div class="rvtd-example__demo{{ with .Get "spacious" }} rvtd-example__demo--spacious{{ end }}{{ with .Get "timeline" }} rvtd-example__timeline{{ end }}"{{ with .Get "background" }} style="background-color: {{ . }}"{{ end }}>
        {{ .Inner }}
    </div>
    <div class="rvtd-example__code">
        <pre><code id="code_{{ .Inner | md5 }}" class="language-{{ if .Get "lang" }}{{ .Get "lang" }}{{ else }}html{{ end }}">{{- .Inner | string -}}</code></pre>
        <button
            type="button"
            class="rvtd-example__copy button button--small"
            data-clipboard-target="#code_{{ .Inner | md5 }}"
            title="Copied"
            {{ if .Get "analytics-label" }}
                data-analytics-category="click"
                data-analytics-action="copy code"
                data-analytics-label="{{ .Get "analytics-label" }}"
            {{ end }}
        >
            Copy
        </button>
    </div>
</div>
