<div class="rvt-d-roadmap-timeline rvt-m-top-xl">
    <ol class="rvt-timeline rvt-plain-list">
        <li class="rvt-timeline__item">
            <div class="rvt-timeline__marker" aria-hidden="true"></div>
            <div class="rvt-timeline__content">
                <h3 class="rvt-timeline__heading rvt-ts-20">Request for comment process</h3>
                <span class="rvt-timeline__date rvt-timeline__date--label">Fall <br>2019</span>
                <p class="rvt-m-bottom-none">We'll launch a Rivet Request For Comment (RFC) process, which we'll use as a place to discuss and solicit feedback on breaking changes and major new features.</p>
            </div>
        </li>
        <li class="rvt-timeline__item">
            <div class="rvt-timeline__marker" aria-hidden="true"></div>
            <div class="rvt-timeline__content">
                <h3 class="rvt-timeline__heading rvt-ts-20">Rivet 2.0-alpha development</h3>
                <span class="rvt-timeline__date rvt-timeline__date--label">Winter <br>2019</span>
                <p class="rvt-m-bottom-none">We'll create a new dedicated v2 development branch, begin adding new components, and make an initial alpha release of the Rivet 2.0 package. We'll also release a detailed end-of-life plan for version 1.x.</p>
            </div>
        </li>
        <li class="rvt-timeline__item">
            <div class="rvt-timeline__marker" aria-hidden="true"></div>
            <div class="rvt-timeline__content">
                <h3 class="rvt-timeline__heading rvt-ts-20">Rivet site redesign</h3>
                <span class="rvt-timeline__date  rvt-timeline__date--label">Spring <br>2020</span>
                <p class="rvt-m-bottom-none">At the start of 2020 we'll begin work on a new Rivet website that will include documentation for brand fundamentals (type, color, logos, voice and tone), page templates, and new components.</p>
            </div>
        </li>
        <li class="rvt-timeline__item">
            <div class="rvt-timeline__marker" aria-hidden="true"></div>
            <div class="rvt-timeline__content">
                <h3 class="rvt-timeline__heading rvt-ts-20">2.0 Launch</h3>
                <span class="rvt-timeline__date  rvt-timeline__date--label">Summer <br>2020</span>
                <p class="rvt-m-bottom-none">In the Spring we'll start the transition process to the new documentation site becoming the default at rivet.iu.edu and release version 2.0.0.</p>
            </div>
        </li>
    </ol>
</div>