<div class="rvt-d-roadmap-timeline rvt-m-top-xl">
    <ol class="rvt-timeline rvt-plain-list">
        <li class="rvt-timeline__item">
            <div class="rvt-timeline__marker" aria-hidden="true"></div>
            <div class="rvt-timeline__content">
                <h3 class="rvt-timeline__heading rvt-ts-20">Request for comment process</h3>
                <span class="rvt-timeline__date rvt-timeline__date--label">Q4 2019</span>
                <p class="rvt-m-bottom-none">The Request For Comment (RFC) is a process we're experimenting with as we start development on the next major version of Rivet. We’ll use the RFC process as a place to discuss and solicit feedback on breaking changes and major new features.</p>
            </div>
        </li>
        <li class="rvt-timeline__item">
            <div class="rvt-timeline__marker" aria-hidden="true"></div>
            <div class="rvt-timeline__content">
                <h3 class="rvt-timeline__heading rvt-ts-20">Rivet 2.0-alpha release</h3>
                <span class="rvt-timeline__date rvt-timeline__date--label">Q4 2019</span>
                <p class="rvt-m-bottom-none">We'll be creating a new dedicated v2 development branch, begin adding new components, and working on a detailed version 1.x end-of-life plan.</p>
            </div>
        </li>
        <li class="rvt-timeline__item">
            <div class="rvt-timeline__marker" aria-hidden="true"></div>
            <div class="rvt-timeline__content">
                <h3 class="rvt-timeline__heading rvt-ts-20">Rivet site redesign</h3>
                <span class="rvt-timeline__date  rvt-timeline__date--label">Q1 2020</span>
                <p class="rvt-m-bottom-none">At the start of 2020 we'll begin work on an new Rivet website that will inlcude documentation for brand fundamentals (type, color, logos, voice and tone), page templates, and new components.</p>
            </div>
        </li>
        <li class="rvt-timeline__item">
            <div class="rvt-timeline__marker" aria-hidden="true"></div>
            <div class="rvt-timeline__content">
                <h3 class="rvt-timeline__heading rvt-ts-20">2.0 Launch</h3>
                <span class="rvt-timeline__date  rvt-timeline__date--label">Q2 2020</span>
                <p class="rvt-m-bottom-none">In the spring we'll start the transition process to the new documentation site becoming the default at rivet.iu.edu and release version 2.0.0</p>
            </div>
        </li>
    </ol>
    <!-- End timeline markup -->
</div>